<form [formGroup]="usernameForm" style="max-width: 90%; margin: 2em auto">

    <mat-form-field color="primary" style="width: 100%">

        <input
            matInput
            autocomplete="off"
            formControlName="username"
            placeholder="Username"
            maxlength="16"
            (input)="onInput()">

        <mat-error *ngIf="usernameForm.get('username').hasError('required')">
            Required
        </mat-error>

        <mat-error *ngIf="usernameForm.get('username').hasError('pattern')">
            Cannot have spaces
        </mat-error>

        <mat-error *ngIf="usernameForm.get('username').hasError('usernameTaken')">
            Already taken
        </mat-error>

    </mat-form-field>

</form>
