
<div class="container">

    <div class="link-buttons">
        <button mat-button routerLink="/about" color="warn">About</button>
        <button mat-button routerLink="/terms" color="primary">Terms Of Service</button>
        <button mat-button color="accent" (click)="contactClick()">Contact</button>
    </div>

    <div class="logo">
        <img src="assets/images/b35-ticket-logo.png" alt="Logo" style="height: 118px;">    

        <span style="width: 20px"></span>

        <div style="text-align: center">
            <span>Plebeian</span>
            <br>
            <span>Art</span>
        </div>
    </div>

    <div class="social-icons">
        <button mat-icon-button class="facebook-icon">
            <mat-icon svgIcon="facebook" (click)="openFacebook()"></mat-icon>
        </button>
        <button mat-icon-button class="instagram-icon">
            <mat-icon class="face" svgIcon="instagram" (click)="openInstagram()"></mat-icon>
        </button>
        <button mat-icon-button class="twitter-icon">
            <mat-icon svgIcon="twitter" (click)="openTwitter()"></mat-icon>
        </button>
        <button mat-icon-button class="youtube-icon">
            <mat-icon svgIcon="youtube" (click)="openYoutube()"></mat-icon>
        </button>
    </div>

</div>