<!-- VIEWER -->
<ng-container *ngIf="plan?.name === 'viewer'">
    <div style="text-align: center">
        <p>Choose a unique Username to setup your free account!</p>
        
        <app-username-form (username)="usernameInput($event)"></app-username-form>
            
        <div class="button-container">
            <button
                mat-raised-button
                color="primary"
                style="color: white"
                [disabled]="!username"
                (click)="googleSignUp()">
                Sign Up With Google
            </button>
            <button
                mat-raised-button
                style="color: white;"
                [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                [disabled]="!username"
                (click)="facebookSignUp()">
                Sign Up With Facebook
            </button>
        </div>
    </div>
</ng-container>

<!-- ARTIST -->
<ng-container *ngIf="plan?.name === 'artist'">
    <div style="text-align: center; margin: 1em auto;">Plebeian Artist Registration - $1/mo</div>

    <mat-vertical-stepper linear color="accent">
        <mat-step label="Username & Login" editable="false" color="accent" [completed]="username && loggedIn">

            <ng-container *ngIf="!loggedIn; else loggedInMessage">

                <div>Choose a unique Username to setup your Artist account!</div>

                <app-username-form (username)="usernameInput($event)"></app-username-form>
            
                <div class="button-container">
                    <button
                        mat-raised-button
                        color="primary"
                        style="color: white"
                        [disabled]="!username"
                        (click)="googleSignUp()">
                        Sign Up With Google
                    </button>
                    <button
                        mat-raised-button
                        style="color: white;"
                        [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                        [disabled]="!username"
                        (click)="facebookSignUp()">
                        Sign Up With Facebook
                    </button>
                </div>
            </ng-container>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Payment" editable="false" color="accent" [completed]="paymentCompleted">

            <app-payment-form (paymentCompleted)="onPayment($event)"></app-payment-form>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Setup Marketplace" optional="true" color="accent">
            <div>Optional Marketplace register + info</div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</ng-container>

<!-- GALLERY -->
<ng-container *ngIf="plan?.name === 'gallery'">
    <div style="text-align: center; margin: 1em auto;">Plebeian Gallery Registration - $10/mo</div>

    <mat-vertical-stepper linear color="accent">

        <mat-step label="Username & Login" editable="false" color="accent" [completed]="username && loggedIn">

            <ng-container *ngIf="!loggedIn; else loggedInMessage">

                <div>Choose a unique Username to setup your Gallery account!</div>

                <app-username-form (username)="usernameInput($event)"></app-username-form>
            
                <div class="button-container">
                    <button
                        mat-raised-button
                        color="primary"
                        style="color: white"
                        [disabled]="!username"
                        (click)="googleSignUp()">
                        Sign Up With Google
                    </button>
                    <button
                        mat-raised-button
                        style="color: white;"
                        [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                        [disabled]="!username"
                        (click)="facebookSignUp()">
                        Sign Up With Facebook
                    </button>
                </div>
            </ng-container>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Payment" editable="false" color="accent" [completed]="paymentCompleted">

            <app-payment-form (paymentCompleted)="onPayment($event)"></app-payment-form>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

    </mat-vertical-stepper>
</ng-container>

<!-- Logged In Message -->
<ng-template #loggedInMessage>
    <div style="margin-bottom: 2em">{{ username }} is a great username! Now let's go to the next step!</div>
</ng-template>
