

<div>

    <mat-radio-group [(ngModel)]="membership" (ngModelChange)="onMembershipChange()" style="width: 777px; max-width: 95%; margin: 3em auto; display: flex; justify-content: space-around;">
        <mat-radio-button #viewerRadio value="viewer">Viewer</mat-radio-button>
        <mat-radio-button #artistRadio value="artist">Artist</mat-radio-button>
        <mat-radio-button #galleryRadio value="gallery">Gallery</mat-radio-button>
    </mat-radio-group>

</div>


<ng-container *ngIf="membership === 'viewer'">
    <mat-card style="width: 465px; max-width: 85%; padding: 1em 1em 2em; margin: 1em auto; text-align: center;">
        <h3>Viewer - {{ 0 | currency }}</h3>
        <p>Free!</p>
        <br>

        <p>Interact with the Community</p>
        <hr>
        <p>Notified about emerging artists and local events</p>

    </mat-card>

    <button mat-raised-button routerLink="/deli" style="margin: 2em auto; display: block;">Start Exploring!</button>
</ng-container>

<ng-container *ngIf="membership === 'artist'">
    <mat-card style="width: 465px; max-width: 85%; padding: 1em 1em 2em; margin: 1em auto; text-align: center;">
        <h3>Artist - {{ 1 | currency }}</h3>
        <p>Boost Your Work!</p>
        <br>

        <p>Post work in the Deli</p>
        <hr>
        <p>Interact with other members to share and sell your art</p>
        <hr>
        <p>Eligible for submission in curated exhibitions</p>

    </mat-card>
</ng-container>

<ng-container *ngIf="membership === 'gallery'">
    <mat-card style="width: 465px; max-width: 85%; padding: 1em 1em 2em; margin: 1em auto; text-align: center;">
        <h3>Gallery - {{ 10 | currency }}</h3>
        <p>Share Events!</p>
        <br>

        <p>Share events on the Plebeian Calendar</p>
        <hr>
        <p>Interact with members of the community</p>

    </mat-card>
</ng-container>


<app-payment-form
    *ngIf="membership === 'artist' || membership === 'gallery'"
    [plan]="plan"
    (paymentCompleted)="onPayment($event)">
</app-payment-form>




<!-- VIEWER -->
<!-- <ng-container *ngIf="plan?.name === 'viewer'">
    <div style="text-align: center">
        <p>Choose a unique Username to setup your free account!</p>
        
        <app-username-form (username)="usernameInput($event)"></app-username-form>
            
        <div class="button-container">
            <button
                mat-raised-button
                color="primary"
                style="color: white"
                [disabled]="!username"
                (click)="googleSignUp()">
                Sign Up With Google
            </button>
            <button
                mat-raised-button
                style="color: white;"
                [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                [disabled]="!username"
                (click)="facebookSignUp()">
                Sign Up With Facebook
            </button>
        </div>
    </div>
</ng-container> -->

<!-- ARTIST -->
<!-- <ng-container *ngIf="plan?.name === 'artist'">
    <div style="text-align: center; margin: 1em auto;">Plebeian Artist Registration - $1/mo</div>

    <mat-vertical-stepper linear color="accent">
        <mat-step label="Username & Login" editable="false" color="accent" [completed]="username && loggedIn">

            <ng-container *ngIf="!loggedIn; else loggedInMessage">

                <div>Choose a unique Username to setup your Artist account!</div>

                <app-username-form (username)="usernameInput($event)"></app-username-form>
            
                <div class="button-container">
                    <button
                        mat-raised-button
                        color="primary"
                        style="color: white"
                        [disabled]="!username"
                        (click)="googleSignUp()">
                        Sign Up With Google
                    </button>
                    <button
                        mat-raised-button
                        style="color: white;"
                        [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                        [disabled]="!username"
                        (click)="facebookSignUp()">
                        Sign Up With Facebook
                    </button>
                </div>
            </ng-container>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Payment" editable="false" color="accent" [completed]="paymentCompleted">

            <app-payment-form [plan]="plan" (paymentCompleted)="onPayment($event)"></app-payment-form>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Setup Marketplace" optional="true" color="accent">
            <div>Optional Marketplace register + info</div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</ng-container> -->

<!-- GALLERY -->
<!-- <ng-container *ngIf="plan?.name === 'gallery'">
    <div style="text-align: center; margin: 1em auto;">Plebeian Gallery Registration - $10/mo</div>

    <mat-vertical-stepper linear color="accent">

        <mat-step label="Username & Login" editable="false" color="accent" [completed]="username && loggedIn">

            <ng-container *ngIf="!loggedIn; else loggedInMessage">

                <div>Choose a unique Username to setup your Gallery account!</div>

                <app-username-form (username)="usernameInput($event)"></app-username-form>
            
                <div class="button-container">
                    <button
                        mat-raised-button
                        color="primary"
                        style="color: white"
                        [disabled]="!username"
                        (click)="googleSignUp()">
                        Sign Up With Google
                    </button>
                    <button
                        mat-raised-button
                        style="color: white;"
                        [ngStyle]="{'background-color': username ? '#3f6fff' : 'rgba(0, 0, 0, 0.12)'}"
                        [disabled]="!username"
                        (click)="facebookSignUp()">
                        Sign Up With Facebook
                    </button>
                </div>
            </ng-container>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="Payment" editable="false" color="accent" [completed]="paymentCompleted">

            <app-payment-form [plan]="plan" (paymentCompleted)="onPayment($event)"></app-payment-form>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

    </mat-vertical-stepper>
</ng-container> -->

<!-- Logged In Message -->
<!-- <ng-template #loggedInMessage>
    <div style="margin-bottom: 2em">{{ username }} is a great username! Now let's go to the next step!</div>
</ng-template> -->
