<form *ngIf="addressForm" [formGroup]="addressForm">

    <!-- Order Notes -->

    <!-- First Name/Last Name -->
    <div class="form-row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" maxlength="40">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" maxlength="40">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>

    <!-- Street -->
    <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" maxlength="80">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Where do you live?</mat-hint>
    </mat-form-field>

    <!-- Street pt 2 -->
    <mat-form-field appearance="outline">
        <mat-label>Building, Apt, Suite, etc...</mat-label>
        <input matInput formControlName="street" maxlength="80">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Optional</mat-hint>
    </mat-form-field>

    <div class="form-row">
        <!-- City -->
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" maxlength="40">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <!-- State -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>State</mat-label>
            <input type="text" aria-label="state" matInput formControlName="state" [matAutocomplete]="auto" autocomplete="none">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredOptions | async" [value]="state.full">
                    {{ state.abbreviation + ' - ' + state.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Zipcode -->
        <mat-form-field appearance="outline">
            <mat-label>ZIP</mat-label>
            <input matInput formControlName="zip" maxlength="16">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>

</form>
