
<div class="background">

    <mat-card class="video-card">
        <p style="text-align: center">Welcome to Plebeian Deli</p>
        <video
            src="assets/SampleVideo_1280x720_2mb.mp4"
            style="width: 100%; max-width: 1000px; margin: auto; display: block;"
            controls>
        </video>
    </mat-card>

    <mat-card class="right-card">
        <p>We are a new art media company that’s built around promotion for artists by artists. We’ve set out to build a hub for artists to create, communicate, build community, and from that community build careers. We’re here to make the business side of your art easy so that you can just make your art. Say goodbye to the old ways of art, the archaic systems with virtually no success, and join the growing world of Plebeian.</p>
    </mat-card>

    <mat-card class="left-card">
        <div class="steps-section">
            <div class="process-graphic">
                <span>Create</span>
                <img src="assets/images/create.svg" class="process-img" />
                <span style="font-size: 12px">Make your art!</span>
            </div>
        
            <!-- <mat-icon class="process-arrow">arrow_right_alt</mat-icon> -->
        
            <div class="process-graphic">
                <span>Post</span>
                <img src="assets/images/upload.svg" class="process-img" />
                <span style="font-size: 12px">Snap a pic, post your art!</span>
            </div>
        
            <!-- <mat-icon class="process-arrow">arrow_right_alt</mat-icon> -->
        
            <div class="process-graphic">
                <span>Sell</span>
                <img src="assets/images/sell.svg" class="process-img" />
                <span style="font-size: 12px">Sell your art!</span>
            </div>
        </div>
    </mat-card>

    <!-- <mat-card class="right-card"></mat-card>

    <mat-card class="left-card"></mat-card> -->

</div>