<div class="page">
    
    <div class="page-section">
      <div class="container">
        <h2 style="text-align: center">Welcome to Plebeian</h2>
        
        <div class="section-text">
          <div class="section">
            Here at Plebeian our goal is to make the business side of your art easy so that you can just make your art, and make it fun along the way.
          </div>
          <div class="section">
            Every post is a part of a vast community of artists, institutions and buyers ready to see your work! You also get a free Stripe account so you can sell your work and artist services, track inventory, manage inquiries, and send invoices.
          </div>
          <div class="section">
            All in one easy to use place and for just $1 a month! It’s not an investment in us, it’s an investment in yourself! Sign up and propel your art career today!
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-top">
      <iframe
        src="https://www.youtube.com/embed/8GFp_nSfcfs"
        style="width: 100%; height: 300px;"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <br>
    
    <div class="page-section accent-section">
      <div class="process-container">
        <div class="process-graphic">
            <span style="margin-bottom: 10px">Create</span>
            <img src="assets/images/create.svg" class="process-img" />
        </div>
        <div class="process-graphic">
            <span style="margin-bottom: 10px">Post</span>
            <img src="assets/images/upload.svg" class="process-img" />
        </div>
        <div class="process-graphic">
            <span style="margin-bottom: 10px">Sell</span>
            <img src="assets/images/sell.svg" class="process-img" />
        </div>
      </div>
    </div>

    <div class="page-section">
        <div class="container">
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2em;">
                <div *ngFor="let feature of features; index as i" class="process-graphic feature-icon" [ngClass]="feature.name === selectedFeature.name ? 'selected-feature' : ''" (click)="selectFeature(i)">
                    <img [src]="feature.icon" class="feature-img" />
                    <span [ngStyle]="{ 'color': feature.color }">{{ feature.name }}</span>
                </div>
            </div>

            <div class="feature-container">
                <div class="large-screens">
                  <p style="line-height: 1.3"><i>{{ selectedFeature.bigText }}</i></p>
                  <p style="text-align: right; color: #777;"><span [ngStyle]="{ 'color': selectedFeature.color }">- </span> {{ selectedFeature.author }}</p>
                </div>

                <div class="large-screens section">{{ selectedFeature.firstBlob }}</div>

                <div class="large-screens section">{{ selectedFeature.secondBlob }}</div>
            </div>

            <div class="small-screens section">{{ selectedFeature.firstBlob }}</div>

            <div class="small-screens section">{{ selectedFeature.secondBlob }}</div>

            <button
                mat-button
                style="display: block; margin: 4em auto 1em;"
                [ngStyle]="{ 'color': selectedFeature.color }"
                [routerLink]="selectedFeature.link">
                View {{ selectedFeature.name }}
                <mat-icon style="margin-left: 10px; margin-bottom: 3px;">arrow_forward</mat-icon>
            </button>

        </div>
    </div>

    <hr class="h-rule">
    
    <!-- <div class="page-section">
      <div class="container">
        <h2 style="text-align: center">Our Story</h2>
      </div>
    </div> -->
  
  
</div>

<app-footer></app-footer>
