

<div class="parallax-container bg1">
    <div class="welcome-text">We want to see your work! Join the community, share your stuff, and get feedback from your peers.</div>
</div>


<div class="static-container">
    <div class="content">
        <button mat-raised-button color="accent" class="signup-btn-top" routerLink="/login">Sign Up!</button>
        <div class="process">
        
            <div class="process-graphic">
                <span>Create</span>
                <img src="assets/images/create.svg" class="process-img" />
            </div>

            <mat-icon class="process-arrow">arrow_right_alt</mat-icon>

            <div class="process-graphic">
                <span>Post</span>
                <img src="assets/images/upload.svg" class="process-img" />
            </div>

            <mat-icon class="process-arrow">arrow_right_alt</mat-icon>

            <div class="process-graphic">
                <span>Sell</span>
                <img src="assets/images/sell.svg" class="process-img" />
            </div>
        </div>
    </div>
</div>


<div class="parallax-container bg3">
    <!-- <p class="visibility-txt">In landscape of modern art, visibility is key.</p> -->
</div>


<div class="static-container-2">
    <div class="content">

        <h2 style="text-align: center">Meet the Team</h2>

        <div style="width: 100%; display: flex; justify-content: space-around; align-items: center; margin: 2em auto;">
        
            <div class="process-graphic">
                <img src="assets/images/person1.svg" class="process-img" />
                <span>Some guy</span>
            </div>

            <div class="process-graphic">
                <img src="assets/images/person2.svg" class="process-img" />
                <span>Another guy</span>
            </div>

            <div class="process-graphic">
                <img src="assets/images/person3.svg" class="process-img" />
                <span>A girl</span>
            </div>

        </div>

        <button
            mat-raised-button
            color="primary"
            class="signup-btn-bottom"
            routerLink="/login">Sign Up!</button>
    </div>
</div>


<!-- <div class="parallax-container bg2">
    <h2 class="bg2-txt" style="text-align: left; margin-left: 0; padding-left: 3em;">With a Plebeian subscription, you are made able to share your work on our deli.</h2>
    <h2 class="bg2-txt" style="text-align: right; margin-right: 0; padding-right: 3em;">It is then eligible for features in our Blogs, collaborative projects, contests, and curated digital exhibitions.</h2>
</div> -->

