.background { 
    background: url('../../assets/images/about-bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 4em;
}

.video-card {
    width: 85%;
    margin: 0 auto 1em;
}

.right-card {
    width: 75%;
    margin: 3em 0 3em auto;
    text-align: right;
    padding: 3em;
}

.left-card {
    width: 75%;
    margin: 3em auto 3em 0;
    text-align: left;
    padding: 3em;
}

.right-card:hover, .left-card:hover {
    border-radius: 0;
    box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 1), 
                1px 1px 1px 0px rgba(0, 0, 0, 1), 
                1px 1px 3px 0px rgba(0, 0, 0, 1);
}

.process-graphic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.process-img {
    width: 75%
}

.steps-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}




// .process {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     margin: 2em auto;
// }

// .process-graphic {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     height: 250px;
// }

// .process-graphic span {
//     font-family: 'Open Sans Condensed', sans-serif;
//     font-size: 1.3em;
// }

// .process-img {
//     height: 150px;
//     width: auto;
// }

// .process-arrow {
//     font-size: 2em;
//     margin: 0.5em 0 1em 0.5em;
//     transform: rotate(90deg);
//     transition: all 500ms ease-out;
// }


// @media (min-width: 658px) {
//     .process {
//         flex-direction: row;
//     }

//     .process-arrow {
//         margin: 1em 0.5em 0 0;
//         transform: rotate(0deg);
//     }
// }
