
<div *ngIf="selected" style="text-align: center; margin: 1em 0;">

    <button
        mat-icon-button
        [disabled]="page === 1"
        (click)="previousPage()"
        aria-label="Previous Page Button">
        <mat-icon>navigate_before</mat-icon>
    </button>

    <span style="margin: 0 1em">{{ page }} / {{ totalPages }}</span>

    <button
        mat-icon-button
        [disabled]="page === totalPages"
        (click)="nextPage()"
        aria-label="Next Page Button">
        <mat-icon>navigate_next</mat-icon>
    </button>

    <pdf-viewer
        [src]="selected.download"
        [original-size]="false"
        [render-text]="false"
        [show-all]="false"
        [(page)]="page"
        (after-load-complete)="loaded($event)"
        style="display: block; width: 500px; max-width: 90%; margin: auto">
    </pdf-viewer>

</div>

<div style="display: flex; justify-content: space-around; flex-wrap: wrap-reverse; max-width: 1000px; margin: 2em auto;">

    <mat-card *ngFor="let x of exhibitions" (click)="select(x)" [ngClass]="selected === x ? 'selected' : ''">
        <mat-card-header>{{ x.date }}</mat-card-header>

        <img mat-card-image [src]="x.cover" alt="Cover" draggable="false">

        <mat-card-actions>
            <button mat-button color="accent" style="width: 100%">
                <a download href="{{x.download}}" style="text-decoration: none; color: #ff4081;">Download</a>
            </button>
        </mat-card-actions>
    </mat-card>

</div>
