.upload-btn {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: lightgray;
    opacity: 0.85;
    cursor: pointer;
    box-sizing: border-box;
    transition: 200ms all ease-out;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-btn:hover {
    opacity: 1;
    font-size: 1.2em;
}

.cv-upload-btn {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    cursor: pointer;
}

.profile-pic {
    height: 222px;
    width: 222px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.bg {
    background-size: cover !important;
    background-position: center !important;
}

mat-form-field {
    width: 95%;
    margin: 1em auto;
    display: block;
}

.edit-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2em 0;
}

.description-btn {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.container {
    max-width: 777px;
    margin: auto;
}
