
<div *ngIf="user$ | async as user" class="container">

    <br>

    <p style="margin-left: 1em">Profile Picture</p>

    <div
        *ngIf="user.thumbnail | async as thumbnail"
        class="profile-pic"
        [ngStyle]="{'background': thumbnail?.length ? 'url(' + thumbnail + ')' : 'linear-gradient(#80caa2, #add87d)'}"
        [ngClass]="thumbnail ? 'bg' : ''">
        <label for="profile-pic-upload" class="upload-btn">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload</span>
        </label>
        <input
            id="profile-pic-upload"
            type="file"
            accept="image/*"
            style="display: none"
            (change)="uploadProfilePic(user.uid, $event)">
    </div>

    <br>

    <p *ngIf="user.backgroundThumbnail" style="margin-left: 1em">Background Picture</p>

    <div
        *ngIf="user.backgroundThumbnail | async as thumbnail; else uploadBackgroundPicture"
        class="profile-pic"
        [ngStyle]="{'background': thumbnail?.length ? 'url(' + thumbnail + ')' : 'linear-gradient(#80caa2, #add87d)'}"
        [ngClass]="thumbnail ? 'bg' : ''">
        <label for="profile-pic-upload" class="upload-btn">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload</span>
        </label>
        <input
            id="profile-pic-upload"
            type="file"
            accept="image/*"
            style="display: none"
            (change)="uploadBackgroundPic(user.uid, $event)">
    </div>

    <ng-template #uploadBackgroundPicture>
        <div style="max-width: 80%; margin: auto;">
            <label for="profile-pic-upload" class="upload-btn">
                <mat-icon>publish</mat-icon>
                <span style="margin-left: 10px">Upload</span>
            </label>
            <input
                id="profile-pic-upload"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="uploadBackgroundPic(user.uid, $event)">
        </div>
    </ng-template>

    <br>

    <mat-form-field hintLabel="Max 240 Characters" color="accent">
        <mat-icon *ngIf="descriptionInput?.value !== user.bio" color="accent" class="description-btn" (click)="descriptionInput.value = user.bio || ''; $event.stopPropagation();">clear</mat-icon>
        <mat-icon *ngIf="descriptionInput?.value !== user.bio" color="primary" class="description-btn" (click)="updateField(user.uid, 'bio', descriptionInput.value); $event.stopPropagation();">done</mat-icon>
        <textarea matInput #descriptionInput placeholder="Bio" maxlength="240" rows="5" [value]="user.bio || ''"></textarea>
        <mat-hint align="end">{{ descriptionInput.value?.length || 0 }}/240</mat-hint>
    </mat-form-field>

    <br>

    <p style="margin-left: 1em">Social Links</p>

    <mat-form-field style="margin-top: 1em; margin-bottom: 1em;">
        <span matPrefix>@ &nbsp;</span>
        <input
            matInput
            #instagramInput
            [value]="user.instagramUrl || ''"
            type="text"
            placeholder="Instagram Handle"
            autocomplete="off"
            (input)="updateField(user.uid, 'instagramUrl', $event.target.value)">
        <mat-icon
            matSuffix
            (click)="$event.stopPropagation()">
            link
        </mat-icon>
        <mat-hint>*link is generated from name</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.facebookUrl || ''"
            type="text"
            placeholder="Facebook Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'facebookUrl', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.twitterUrl || ''"
            type="text"
            placeholder="Twitter Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'twitterUrl', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.otherLink || ''"
            type="text"
            placeholder="Other Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'otherLink', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <br>

    <!-- location -->
    <mat-form-field color="accent">
        <input
            matInput
            placeholder="Location"
            autocomplete="off">
    </mat-form-field>

    <br><br><br><br><br>

</div>
