
<h1 style="text-align: center; font-weight: 400; margin: 1em auto;">Studio Interviews</h1>


<ngx-hm-carousel
  *ngIf="!viewingStudio"
  [(ngModel)]="carouselIndex"
  show-num="auto"
  [breakpoint]="carouselBreakpoints"
  [infinite]="carouselInfinite"
  [drag-many]="true"
  [data]="carouselData"
  class="carousel">


    <section ngx-hm-carousel-container class="carousel-content">
        <article
          ngx-hm-carousel-item
          class="item"
          *ngFor="let data of carouselData; let i = index"
          [ngClass]="{'visible': carouselIndex === i}">
          <mat-card (click)="click(i)">
            <mat-card-header>
              <mat-card-title>{{ data?.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="data?.thumbnail" alt="Studio Thumbnail" class="no-drag">
            <!-- <mat-card-content>
              <button
                mat-button
                color="accent"
                style="margin: 1em auto; width: 100%;"
                (click)="$event.stopPropagation()">
                Full Post
              </button>
            </mat-card-content> -->
          </mat-card>
        </article>
        <ng-template #infiniteContainer></ng-template>
    </section>
    
    <ng-template #carouselContent let-data let-i="index">
        <article class="item" [ngClass]="{'visible': carouselIndex === i}">
          <mat-card (click)="click(i)">
            <mat-card-header>
              <mat-card-title>{{ data?.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="data?.thumbnail" alt="Studio Thumbnail" class="no-drag">
            <!-- <mat-card-content>
              <button
                mat-button
                color="accent"
                style="margin: 1em auto; width: 100%;"
                (click)="$event.stopPropagation()">
                Full Post
              </button>
            </mat-card-content> -->
          </mat-card>
        </article>
    </ng-template>
    
    <ng-template #carouselPrev>
        <div class="click-area">
          <i class="material-icons" style="font-size: 3em">keyboard_arrow_left</i>
        </div>
      </ng-template>
      <ng-template #carouselNext>
        <div class="click-area">
          <i class="material-icons" style="font-size: 3em">keyboard_arrow_right</i>
        </div>
    </ng-template>

</ngx-hm-carousel>


<app-studio-viewer
  *ngIf="viewingStudio"
  [studio]="viewingStudio"
  (viewAll)="toggleViewer($event)">
</app-studio-viewer>


<div class="featured-container">
    <mat-card *ngIf="featureFriday$ | async as post" style="cursor: pointer" [routerLink]="'/prime-cuts/' + post.primePostId">
        <mat-card-header>
          <mat-card-title>Feature Friday</mat-card-title>
        </mat-card-header>

        <img mat-card-image *ngIf="post.thumbnailUrl" [src]="post.thumbnailUrl" alt="Thumbnail Image">

        <mat-card-content>
          <p>{{ post.title }}</p>
        </mat-card-content>
    </mat-card>

    <!-- <div class="featured">
        <span>Joey</span>
        <span>Forrest</span>
        <span>Colleen</span>
        <span>Sam</span>
    </div> -->
</div>


<div class="tv-bg">
    <div class="masonry-container">
      <mat-card *ngFor="let post of primePosts$ | async" [routerLink]="'/prime-cuts/' + post.primePostId" class="masonry-card">
        <mat-card-header>{{ post.title }}</mat-card-header>
        <img mat-card-image *ngIf="post.thumbnailUrl" [src]="post.thumbnailUrl" alt="Post Image">
      </mat-card>
    </div>
</div>
