.search-and-sort {
    display: none;
}

::ng-deep .mat-chip-list-wrapper {
    display: block !important;
    margin: 5px 0 !important;
    padding-bottom: 5px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.category-item {
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
}

.selected-item {
    background-color: #000000;
    color: #fdf5a2;
    padding: 5px 10px;
    border: 2px solid #fdf5a2;
}

.category-select {
    display: block;
}

@media(min-width: 777px) {
    .search-and-sort {
        display: flex;
        justify-content: space-between;
        margin: 2em auto;
        width: 90%;
        max-width: 777px;
    }

    .category-item {
        font-size: 1.1em;
        display: inline-flex;
    }

    .category-select {
        margin-bottom: 1.5em;
    }

    ::ng-deep .mat-chip-list-wrapper {
        display: flex !important;
        margin: 5px 0 !important;
        padding-bottom: 5px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
    }
}
