

<mat-tab-group mat-align-tabs="center" *ngIf="user">

    <mat-tab label="Sold Posts" *ngIf="user.membership === 'artist'">
        <p *ngIf="!user.approvedSeller" style="text-align: center; margin-top: 2em;">Link your Plebeian account to a Stripe account to start selling posts.</p>
        
        <app-sold-posts *ngIf="user.approvedSeller"></app-sold-posts>
    </mat-tab>

    <mat-tab label="Bought Posts">
        <app-bought-posts></app-bought-posts>
    </mat-tab>

    <mat-tab label="Sold Services" *ngIf="user.membership === 'artist'">
        <p *ngIf="!user.approvedSeller" style="text-align: center; margin-top: 2em;">Link your Plebeian account to a Stripe account to start selling services.</p>
        
        <app-sold-services *ngIf="user.approvedSeller" [user]="user"></app-sold-services>
    </mat-tab>

    <mat-tab label="Bought Services">
        <app-bought-services [user]="user"></app-bought-services>
    </mat-tab>

</mat-tab-group>
