
.service-thumbnail {
  padding: 2em 1em;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.service-thumbnail:hover {
  background: #e7e7e7;
}

.initial-order {
  padding: 2em;
  background: #f5f5f5;
}

.user-msg {
  background: #b5ffc2;
  max-width: 555px;
  width: 85%;
  margin: 1em 1em 1em auto;
  padding: 2em;
}

.other-user-msg {
  background: #ffb5f6;
  max-width: 555px;
  width: 85%;
  margin: 1em auto 1em 1em;
  padding: 2em;
}


table {
    width: 90%;
    margin: 1em auto;
}
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(197, 197, 197);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }