<mat-card style="background: black; padding: 0;">

    <div class="viewer-header">
        <button mat-button color="primary" (click)="viewAllClick()">
            <mat-icon>arrow_back</mat-icon>
            <span>View All</span>
        </button>

        <span>{{ studio?.title }}</span>

        <button mat-button color="accent" (click)="viewPostClick()">
            <span>Full Post</span>
            <mat-icon>call_made</mat-icon>
        </button>
    </div>


    <mat-card-content style="text-align: center">
        <iframe
            class="small-viewer"
            [src]="getVideoUrl()"
            width="280"
            height="157"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <iframe
            class="large-viewer"
            [src]="getVideoUrl()"
            width="560"
            height="315"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </mat-card-content>


</mat-card>