<br><br>

<div class="post-list">

    <div
        *ngFor="let post of posts$ | async"
        (click)="viewPost(post.postId)"
        class="post-card">

        <!-- Menu -->
        <ng-container *ngIf="editable">
            <button
                mat-button
                [matMenuTriggerFor]="postActions"
                color="accent"
                style="float: right"
                (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #postActions="matMenu">
                <button mat-menu-item (click)="editPost(post)">
                    <mat-icon>edit</mat-icon>
                    <span style="margin-left: 5px">Edit</span>
                </button>
                <button mat-menu-item color="warn" (click)="deletePost(post)">
                    <mat-icon color="warn">delete</mat-icon>
                    <span style="margin-left: 5px; color: #f44336;">Delete</span>
                </button>
            </mat-menu>
        </ng-container>

        <!-- Thumbnail Image -->
        <ng-container *ngIf="post.thumbnail | async as thumbnailURL">
            <div [ngStyle]="{'background-image': 'url(' + thumbnailURL + ')'}" class="post-img"></div>
        </ng-container>
        
        <!-- Title -->
        <p style="font-weight: 300; letter-spacing: 1.1px;">{{ post.title }}</p>
    </div>
</div>
