<button
    mat-fab
    color="light"
    class="chat-fab"
    [ngClass]="showChats ? 'showing-chats' : ''"
    (click)="messagesToggle()">

    <mat-icon
        *ngIf="!showChats"
        matBadge="2"
        matBadgeOverlap="false"
        matBadgeColor="accent">
        local_post_office
    </mat-icon>

    <mat-icon
        *ngIf="showChats"
        color="accent">
        close
    </mat-icon>
</button>

<mat-card *ngIf="showChats" class="chats-card" [style.background]="viewingChat ? 'black' : 'white'">

    <!-- chat box headers -->
    <div *ngIf="viewingChat" class="chats-card-header">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h3 style="font-weight: 300">{{ viewingChat.otherUser.username }}</h3>
    </div>

    <div *ngIf="!viewingChat" class="chats-card-header">
        <h3 style="font-weight: 300">Messages</h3>
    </div>

    <!-- chat list -->
    <mat-list *ngIf="!viewingChat">
        <mat-list-item *ngFor="let chat of chats$ | async" (click)="viewChat(chat)">
            <img matListAvatar [src]="chat.otherUser.profileUrl" alt="Profile Pic">
            <h3 matLine>{{ chat.otherUser?.username }}</h3>
            <!-- <p matLine>Blegh</p> -->
        </mat-list-item>
    </mat-list>

    <!-- chat messages -->
    <div *ngIf="this.viewingChat" style="height: 97%; display: grid; grid-template-rows: 3fr 1fr;">
        <div *ngIf="singleChat$ | async as singleChat" class="messages-container" style="overflow: auto">
            <div
                *ngFor="let message of singleChat.messages; index as i"
                [ngClass]="message.userId === viewingChat.otherUser.uid ? 'left-chat' : 'right-chat'">
                {{ message.content }}
            </div>
        </div>

        <mat-form-field style="width: 100%; color: black; background: #f5f5f5; padding: 0;">
            <textarea
                matInput
                #chatInput
                [(ngModel)]="newChatMessage"
                (keyup.enter)="sendMessage()"
                matTextareaAutoSize="true"
                rows="2"
                maxlength="120">
            </textarea>
            <mat-icon matSuffix [color]="newChatMessage ? 'primary' : 'light'" (click)="sendMessage()">send</mat-icon>
            <mat-hint>{{ chatInput.value?.length || 0 }}/120</mat-hint>
        </mat-form-field>
    </div>

</mat-card>