<mat-card *ngIf="service" class="inquire-card">
    <mat-card-header>
        <mat-card-title>Inquire {{ service.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>{{ service.description }}</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sed similique maxime nobis aperiam accusantium. Consequuntur repudiandae facere doloribus iste eum quod debitis tempora quasi quo perferendis. Deserunt, molestias fugiat.</p>
    </mat-card-content>
</mat-card>
