<mat-card class="pleb-card" *ngIf="order">

    <ng-template #noThumbnail>
        <div
            mat-card-avatar
            style="background-size: cover"
            [style.background-image]="'url(' + 'assets/icons/icon-192x192.png' + ')'">
        </div>
    </ng-template>

    <mat-card-header style="padding: 0.75em">
        <div *ngIf="order.thumb$ | async as thumbnail; else noThumbnail"
            mat-card-avatar
            style="background-size: cover"
            [style.background-image]="'url(' + thumbnail + ')'"></div>
        <mat-card-title>Seller Username</mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding: 0.5em">
        <div class="center-container">

            <div class="left-side">
                <h3>{{ order.item?.name || 'name' }}</h3>
        
                <div *ngIf="order.thumb$ | async as thumbnail" class="order-image" [style.background-image]="'url(' + thumbnail + ')'"></div>
            </div>
    
            <div class="right-side">
                <h3 *ngIf="order.shipping">Shipping To: {{ order.shipping.address.name }}</h3>
    
                <p *ngIf="order.shipping" style="text-align: center">
                    {{ order.shipping.address.line1 }} {{ order.shipping.address.line2 || '' }}, {{ order.shipping.address.city }} {{ order.shipping.address.state }} {{ order.shipping.address.postal_code }}, {{ order.shipping.address.country}}
                </p>
    
                <div class="sub-total">
                    <div class="sub-total-heading sub-total-item">
                        <span>Subtotal:</span>
                        <span>{{ order.subtotal / 100 | currency }}</span>
                    </div>
                    <div class="sub-total-item">
                        <span>Processing:</span>
                        <span>+ {{ order.fee / 100 | currency }}</span>
                    </div>
                    <div class="sub-total-item">
                        <span>Shipping:</span>
                        <span>+ $0.00</span>
                    </div>
                </div>
    
                <div class="total">
                    <h2>Total: </h2>
                    <h2>{{ order.total / 100 | currency }}</h2>
                </div>
            </div>
    
        </div>
    </mat-card-content>

    <mat-card-actions style="padding: 1em">
        <button mat-button style="width: 100%" [routerLink]="'/post/' + order.postId">View Post</button>
    </mat-card-actions>
</mat-card>

<ng-container *ngIf="order && order.isBuyer">
    <div *ngIf="order.status === 'placed'" style="text-align: right; margin: 1.5em;" (click)="order.status = 'shipped'">
        <p style="color: #4caf50; margin-bottom: 0;">ArtistName is working on your order, well let you know when it ships!</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>

    <div *ngIf="order.status === 'shipped'" style="text-align: right; margin: 1.5em;">
        <p style="color: #4caf50; margin-bottom: 0;">Order Placed</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>

    <div *ngIf="order.status === 'shipped'" style="text-align: right; margin: 1.5em;">
        <p style="color: #4caf50; margin-bottom: 0;">You're order has been shipped!</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>
    
    <mat-card *ngIf="order.status === 'shipped'" class="pleb-card">
        <mat-card-header>
            <mat-card-title>Tracking #</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 0.25em; text-align: center;">
            <p>
                <a style="color: white" href="http://www.google.com/search?q=1Z999AA10123456784" target="_blank">
                    1Z 999 AA1 01 2345 6784
                </a>
            </p>
        </mat-card-content>
    </mat-card>

    <p *ngIf="order.status === 'shipped'" style="text-align: center;">Add a Rating!</p>

    <p *ngIf="rating" style="text-align: center; margin: 1em auto;">{{ rating }}/5</p>

    <div *ngIf="order.status === 'shipped'" class="rating-container">
        <img
            *ngFor="let r of ratings"
            [ngStyle]="{ 'opacity': rating && rating >= r ? '1' : '0.4' }"
            (click)="rating = r"
            src="assets/images/ticket-logo.png"
            height="50"
            alt="Logo">
    </div>
</ng-container>


<ng-container *ngIf="order && !order.isBuyer">
    <div *ngIf="order.status === 'placed'" style="text-align: right; margin: 1.5em;">
        <p style="color: #4caf50; margin-bottom: 0;">BuyerName placed an order, mark it as shipped by adding a tracking number.</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>
    
    <mat-card *ngIf="order.status === 'placed'" class="pleb-card">
        <mat-card-header>
            <mat-card-title>Add Tracking #</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput (keyup)="order.status = 'shipped'">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <div *ngIf="order.status === 'shipped'" style="text-align: right; margin: 1.5em;">
        <p style="color: #4caf50; margin-bottom: 0;">Order Placed</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>

    <div *ngIf="order.status === 'shipped'" style="text-align: right; margin: 1.5em;">
        <p style="color: #4caf50; margin-bottom: 0;">BuyerName will be sent the tracking info, thanks for fullfilling the purchase!</p>
        <p style="font-size: 0.8em; margin-top: 0.5em;">{{ order.timestamp.toDate() | date:'short' }}</p>
    </div>
</ng-container>


<div style="height: 33vh"></div>




<!--
    order.type === 'post' && order.status === 'placed'

    buyer:
    (message) ArtistName is working on your order, well let you know when it ships!

    seller:
    (message) BuyerName placed an order - timestamp
    (message) Mark the order as shipped by adding a tracking # or link
    (button) (icon) Add Tracking #

-->

<!--
    order.type === 'post' && order.status === 'shipped'

    buyer:
    (message) Your order has been shipped! Leave a rating when it arrives.
    (card) Tracking #: 1234
    (button) Add rating and mark as recieved
        - rating selector

    seller:
    (message) Shipped
-->

<!--
    order.type === 'post' && order.status === 'shipped'

    buyer:
    (message) Thanks for rating!

    seller:
    (message) You've been rated
-->

