.background {
    height: 100vh;
    background-color: #7fca96;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: auto;
    max-width: 777px;
}

.logo {
    height: 22%;
    margin-top: 10px;
    max-width: 90%;
    cursor: pointer;
}

.text-slide {
    width: 100%;
    max-width: 100vw;
    text-align: center;
    font-style: italic;
    padding: 2em;
    box-sizing: border-box;
}

::ng-deep .swiper-pagination-bullet {
    background: #fdf5a2 !important;
}

/* social login buttons */

.sign-in-button-container {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-in-button {
    flex: 1;
    margin: 0.5em 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 120px;
    margin-left: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
}

.apple-btn {
    background-color: black;
    color: white;
    white-space: nowrap;
}

.apple-icon {
    background: url('../../assets/images/apple-a.png')
                transparent 5px 50% no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.google-btn {
    background-color: white;
    color: #444444;
    white-space: nowrap;
}

.google-icon {
    background: url('../../assets/images/google-g.png')
                transparent 5px 50% no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.facebook-btn {
    background-color: #4266b1;
    color: white;
    white-space: nowrap;
}

.facebook-icon {
    background: url('../../assets/images/facebook-f.png')
                transparent 5px 50% no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

/* end of social login buttons */

@media (min-width: 777px) {
    .background {
        height: 85vh;
    }
}
