
<div class="bg">

    <mat-card class="sign-in-card">

        <h2>Sign In</h2>

        <br>

        <hr class="accent-line">

        <br>

        <br>
    
        <button
            mat-raised-button
            color="primary"
            style="color: white; margin: 0.5em;"
            (click)="googleLogin()">
            Login With Google
        </button>
    
        <br>
    
        <button
            mat-raised-button
            style="background-color: #3f6fff; color: white; margin: 0.5em;"
            (click)="facebookLogin()">
            Login With Facebook
        </button>

    </mat-card>

</div>


<!-- <app-subscriptions></app-subscriptions> -->
