mat-sidenav {
    min-width: 70%;
    max-width: 375px;
}

.mat-sidenav {
    min-width: 70%;
    max-width: 375px;
}

mat-sidenav-content {
    min-height: 100vh;
    overflow-x: hidden;
}

.mat-drawer:not(.mat-drawer-side) {
    position: fixed;
}

.mat-drawer-backdrop {
    position: fixed !important;
}

.mat-button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.mat-drawer-container {
    background: none;
}

::ng-deep.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.widescreen-header {
    display: none;
}

.mobile-footer {
    display: flex;
}

@media (min-width: 777px) {
    .mobile-header {
        display: none;
    }

    .mobile-footer {
        display: none;
    }

    .widescreen-header {
        display: flex;
    }
}
