<mat-sidenav-container>

    <mat-sidenav #sidenav>
        <app-sidenav
            style="height: 100%;"
            [user]="auth.user$ | async"
            (closeSidenav)="sidenav.close()"
            (gotoUserProfile)="auth.navigateToProfile(); sidenav.close();"
            (signIn)="sidenav.close();"
            (signOut)="auth.logout(); sidenav.close();">
        </app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content
        style="position: static; background-color: black;"
        [ngStyle]="{
            'height': sidenav.opened ? '100vh': 'unset',
            'overflow-y': sidenav.opened ? 'hidden' : 'unset'
        }">

        <app-widescreen-header class="widescreen-header"></app-widescreen-header>

        <app-mobile-header class="mobile-header" (openSidenav)="sidenav.open()"></app-mobile-header>

        <main [@routeTransition]="outlet.isActivated ? outlet.activatedRoute : ''" style="position: relative">
            <router-outlet #outlet="outlet"></router-outlet>
        </main>

        <div *ngIf="location.path() !== '/login'" style="margin-top: 5em"></div>

        <app-footer-bar class="mobile-footer"></app-footer-bar>

    </mat-sidenav-content>

</mat-sidenav-container>
