button {
    font-size: 0.85em;
    display: block;
    min-width: 0;
    padding: 0 8px;
}

mat-toolbar-row {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.flashlight {
    cursor: pointer;
    margin-right: 5px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: #f5f5f5;
    color: black;
}

.mat-button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.mat-drawer-container {
    background: none;
}

::ng-deep.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.logo:focus {
    outline: none;
}

.nav-link {
    cursor: pointer;
    font-size: 1.2em;
    display: none;
}

.nav-link:hover {
    color: #80caa2;
}

.highlighted-btn {
    border-radius: 20px;
    padding: 0 1em;
    // transition: color 200ms ease-out;
    // transition: padding 200ms ease-out;
    transition: all 333ms ease-out;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.highlighted-btn:hover {
    color: black;
    padding: 0 1.25em;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.active-link {
    color: #ff4081;
}

.perm-nav-link {
    display: block;
}

@media (min-width: 800px) {
    .menu-button {
        display: none;
    }

    .nav-link {
        display: block;
        font-size: 1em;
    }

    .flashlight {
        margin-right: 10px;
    }

    mat-toolbar-row {
        justify-content: space-around;
    }
}

@media (min-width: 1000px) {
    .nav-link {
        font-size: 1.3em;
    }
}
