// Sidenav

mat-sidenav {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 3em;
}

mat-sidenav-content {
    min-height: 100vh;
    overflow-x: hidden;
}

.profile-pic {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    display: block;
}

.sidenav-button {
    padding: 0.75em;
    color: #222222;
}

.mobile-notification-button {
    display: flex;
    margin-left: auto;
}



// Sidenav Content

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: #f5f5f5;
    color: black;
}

mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.flashlight {
    cursor: pointer;
    margin-right: 5px;
}







button {
    font-size: 0.85em;
    display: block;
    min-width: 0;
    padding: 0 8px;
}

mat-toolbar-row {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.mat-button {
    flex-shrink: 0;
}





.mat-button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.mat-drawer-container {
    background: none;
}

::ng-deep.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.logo:focus {
    outline: none;
}

.nav-link {
    cursor: pointer;
    font-size: 1.2em;
    display: none;
}

.nav-link:hover {
    color: #80caa2;
}

.highlighted-btn {
    border-radius: 20px;
    padding: 0 0.7em;
    transition: all 333ms ease-out;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.highlighted-btn:hover {
    padding: 0.7em;
    color: black;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.active-link {
    color: #ff4081;
}

.perm-nav-link {
    display: block;
    color: #fdf5a2;
}

// .menu-button {
//     color: #fdf5a2;
// }

.menu-button:hover {
    color: #80caa2;
}

@media (min-width: 950px) {
    .menu-button {
        display: none;
    }

    .nav-link {
        display: block;
        font-size: 0.8em;
    }

    .flashlight {
        margin-right: 10px;
    }

    mat-toolbar-row {
        justify-content: space-around;
    }

    .mobile-notification-button {
        margin-left: 0;
    }
}
