.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.deli-tab-img {
    cursor: pointer;
    opacity: 0.5;
    padding-left: 12px;
    padding-right: 10px;
}

.mat-icon-button {
    color: #afafaf;
    transform: scale(1.3);
}

.active-tab {
    color: white;
    opacity: 1 !important;
}

.fab-btn {
    position: fixed;
    bottom: 30px;
    left: calc(50% - 26px);
    transform: rotate(0deg);
    transition: 333ms all ease-out;
}

.disabled-fab-btn {
    position: fixed;
    bottom: 3px;
    left: calc(50% - 26px);
    transform: rotate(90deg);
    transition: 333ms all ease-out;
    background-color: lightgray !important;
}
