<mat-card class="pleb-card">
    <mat-card-header style="padding: 1em;">
        <mat-card-title>Leave us a Message</mat-card-title>
        <mat-card-subtitle style="white-space: nowrap">Anything from questions to suggestions!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="width: 100%; display: flex; flex-direction: column;">
            <mat-form-field color="accent">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
    
            <mat-form-field color="accent">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
    
            <mat-form-field color="accent">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" rows="5" maxlength="1000"></textarea>
            </mat-form-field>
    
            <button mat-raised-button color="accent" type="submit" [disabled]="!contactForm.valid">
                Submit
            </button>
        </form>
    </mat-card-content>

    <mat-card-actions style="text-align: center; padding: 1em;">
        <button mat-button>
            <a href="mailto:plebeiandeli@gmail.com?Subject=Im%20Contacting%20From%20The%20Deli"
                style="text-decoration: none; color: white;">
                Direct Emails: plebeiandeli@gmail.com
            </a>
        </button>
    </mat-card-actions>
</mat-card>

<br><br>
<ng-container *ngIf="auth.user$ | async as user">
    <button *ngIf="user && user.uid && isTester(user.uid)" mat-raised-button routerLink="/contact/messages" style="display: block; margin: 1em auto;">
        You're an Admin, Click to View Messages
    </button>
</ng-container>
<br><br>
