
<div style="width: 95%; max-width: 777px; margin: 2em auto;">
    <h2>Orders</h2>
    <p>You have no orders! You can purchase directly from artists and through our exclusive shop!</p>
    
    <hr>
    
    <h3>Membership Status: Viewer</h3>
    <p>Follow your favorite artists and gallery events</p>
    <p>Purchase directly from the Artist </p>
    <p>Comment, save, and share your favorite posts</p>
    
    <h3>Membership Status: Artist</h3>
    <p>Build your official artist profile</p>
    <p>Post your work for sale or just to view</p>
    
    
    <h3>Membership Status: Gallery</h3>
    <p>Add Events</p>
    
    <p>To cancel your subscription contact team@plebeiandeli.art</p>
</div>
