
<div style="font-size: 2rem; width: 100%; max-width: 400px; margin: 3rem auto; display: flex; justify-content: space-around; align-items: center;">
    <mat-icon
        style="cursor: pointer"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        keyboard_arrow_left
    </mat-icon>
    <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    <mat-icon
        style="cursor: pointer"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        keyboard_arrow_right
    </mat-icon>
</div>



<div *ngIf="events$ | async; let events" style="width: 1000px; max-width: 90%; margin: 1em auto 3rem;">
    <mwl-calendar-month-view
        class="dark-theme"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" >
    </mwl-calendar-month-view>
</div>

