.page-top {
  text-align: center;
}

.page-section {
  width: 100%;
  display: block;    
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  padding: 70px 0;
}

.container {
  max-width: 1111px;
  margin: 0 auto;
}

.section {
  color: #777;
  line-height: 1.5;
}

.h-rule {
  background-color: rgba(255,255,255, .08);
  border: 0;
  border-top: 1px solid #eee;
}

// About
.section-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 85%;
  margin: 0 auto;
}

.about-text-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

// Process
.process-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.quote-box {
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 2;
}

@media (min-width: 850px) {
  // .process-container {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-template-rows: 1fr;
  // }

  .quote-box {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1;
  }
}

.process-graphic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-height: 90%;
}

.process-img {
  max-width: 75%
}

// Accent
.accent-section {
  position: relative;
  text-align: center;
  border: 3px solid #ff4081;
  -webkit-box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.65);
  box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.65);
}

// Features

.feature-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.feature-icon {
    cursor: pointer;
    opacity: 0.35;
    color: #777;
    transition: 300ms all ease-in-out;
    margin: 0 20px;
}

.feature-img {
  max-width: 100%;
}

.small-screens {
  display: block;
  padding: 1em;
}

.large-screens {
  display: none;
}

@media (min-width: 777px) {
  .feature-img {
    width: 222px;
  }

  .small-screens {
    display: none;
  }

  .large-screens {
    display: block;
  }

  .section-text {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.feature-icon:hover {
    opacity: 1;
}

.selected-feature {
    opacity: 1;
    color: black;
}

.selected-feature:hover {
  opacity: 0.8;
  color: #777;
}







