<div class="event-header">
    <h2 style="font-weight: 300; margin-left: 10px;">Events</h2>

    <div *ngIf="editable && eventForm">
        <button
            mat-raised-button
            *ngIf="editing"
            color="primary"
            [disabled]="!eventForm.touched || !eventForm.valid"
            style="margin-right: 1em"
            (click)="submitEvent()">
            <mat-icon>done</mat-icon>
            <span>Submit</span>
        </button>
        <button
            mat-raised-button
            *ngIf="editing"
            (click)="editing = false">
            <mat-icon>close</mat-icon>
            <span>Cancel</span>
        </button>
        <button
            mat-raised-button
            *ngIf="!editing"
            (click)="editing = true">
            <mat-icon>add</mat-icon>
            <span style="margin-left: 10px">New Event</span>
        </button>
    </div>
</div>

<form *ngIf="editing" [formGroup]="eventForm" class="event-form">
    <mat-form-field class="responsive-field">
        <input
            matInput
            type="text"
            placeholder="Title"
            formControlName="title"
            autocomplete="off"
            required>
    </mat-form-field>

    <mat-form-field class="responsive-field">
        <input
            matInput
            type="text"
            placeholder="Location"
            formControlName="location"
            autocomplete="off"
            required>
    </mat-form-field>

    <br>

    <mat-form-field class="responsive-field">
        <input
            matInput
            [matDatepicker]="picker"
            [matDatepickerFilter]="pickerFilter"
            placeholder="Date"
            formControlName="date"
            (click)="picker.open()"
            autocomplete="off"
            required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="responsive-field">
        <input
            matInput
            placeholder="Start Time"
            formControlName="time"
            autocomplete="off">
        <mat-hint>Optional</mat-hint>
    </mat-form-field>

    <br>

    <mat-form-field style="width: 100%">
        <textarea
            matInput
            placeholder="Description"
            formControlName="description"
            rows="5"
            required>
        </textarea>
    </mat-form-field>

    <br>

    <div class="responsive-field" style="display: inline-block; border-radius: 6px;" [ngStyle]="{'background': 'linear-gradient(rgb(225, 241, 232), rgb(181, 181, 181))'}" >
        <label for="event-pic-upload" class="event-upload-btn">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload Picture</span>
        </label>
        <input
            id="event-pic-upload"
            type="file"
            accept="image/*"
            style="display: none"
            (change)="uploadEventPic($event)">
    </div>

    <mat-form-field class="responsive-field">
        <input
            matInput
            placeholder="Link"
            formControlName="link"
            autocomplete="off">
        <mat-hint>Optional</mat-hint>
    </mat-form-field>

</form>

<div class="event-list">
    <mat-card *ngFor="let event of eventService.events$ | async" class="event-card">

        <mat-card-header>
            <div mat-card-avatar style="background-size: cover; background-image: url(../../../assets/images/person1.svg); margin: 5px;"></div>
            <mat-card-title style="font-size: 16px">{{ event.title }}</mat-card-title>
            <mat-card-subtitle style="font-size: 12px">{{ event.date.toDate() | date }}</mat-card-subtitle>
        </mat-card-header>

        <img
            mat-card-image
            src="assets/images/event-1.webp"
            alt="Event Image"
            style="width: 100%; margin: 0 auto">

    </mat-card>
</div>
