<h3>Info and Links about services we are using</h3>

<div style="margin: 1em 0">
    <p>Firebase <a href="https://firebase.google.com/" target="_blank">Info</a> - <a href="https://firebase.google.com/pricing" target="_blank">Pricing</a></p>
    <p>Hosting the website on the Internet!</p>
    <p>User Authentication with Google, Facebook, Email/Password</p>
    <p>Database for user data, posts, events, etc...</p>
    <p>File Storage for Images, PDFs, large files, etc...</p>
    <p>Cloud Messaging for Push Notifications</p>
    <p>Custom Functions to integrate 3rd party services like payments and emails</p>

    <hr>

    <p>PayPal <a href="https://developer.paypal.com/" target="_blank">Info</a> - <a href="https://www.paypal.com/us/brc/article/understanding-merchant-credit-card-processing-fees" target="_blank">Pricing</a></p>
    <p>Checkout for selling products direct to consumer</p>
    <p>Subscriptions for recurring payments</p>
    <p>Commerce for buyer/seller marketplace</p>

    <hr>

    <p>SendGrid (Twillio) <a href="https://www.twilio.com/products" target="_blank">Info</a> - <a href="https://sendgrid.com/marketing/sendgrid-services-cro/" target="_blank">Pricing</a></p>
    <p>Twillio is a big company that owns SendGrid</p>
    <p>Send Emails to all users, specific users, or groups of users</p>
    <p>Event Based Emails (in conjunction with Firebase)</p>
    <p>Programmable SMS & Chats</p>

    <hr>

    <p>Google Maps Platform/API <a href="https://cloud.google.com/maps-platform/places/" target="_blank">Info</a></p>
    <p>Location Validation/Autocomplete</p>
    <p>Map Integration</p>

    <hr>

    <p>Google Analytics <a href="https://marketingplatform.google.com/about/analytics/?hl=en_US" target="_blank">Info</a></p>
    <p>Track page views, events, etc</p>

    <hr>

    <p>Facebook Pixel <a href="https://www.facebook.com/business/learn/facebook-ads-pixel">Info</a></p>
    <p style="margin-bottom: 100px">Ad & Conversion Tracking</p>
</div>
