.new-comment-form {
    width: 100%;
    max-width: 666px;
    padding: 1em;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 25px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 25px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 25px 5px rgba(0,0,0,0.5);
}
