.messages-fab {
    position: absolute;
    bottom: 8%;
    right: 8%;
    z-index: 100;
    transition: all 250ms ease-out;
}

.messages-fab:hover {
    width: 75px;
    height: 75px;
    font-size: 28px !important;
}

.messages-card {
    height: 350px;
    width: 350px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 100;
    overflow: auto;
    padding: 0 0 1em 0;
}

.messages-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0 1em;
}

.showing-messages {
    bottom: 450px;
}

mat-list-item {
    transition: all 500ms ease-out;
}

mat-list-item:hover {
    background-color: #7ef7a2;
}
