.post-thumbnail {
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0.75em;
    transition: 200ms all ease-out;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@keyframes imageLoad {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.thumbnail-img {
    margin: auto;
    width: 100%;
    display: block;
    animation: 150ms ease-in 0s 1 imageLoad;
}
