.comment-list {
    padding: 1em;
}

.comment {
    padding: 0.25em;
    background-color: white;
    border-radius: 5px;
    margin: 15px auto 15px 0;
    width: 95%;
    border-left: 5px solid #7fcaa2;
    transition: 300ms all ease-out;
}

.comment:hover {
    width: 94%;
    border-radius: 10px;
}

.comment-date {
    font-size: 0.75em;
    font-weight: 300;
    color: #777;
    margin-left: 10px;
}
