.comment-list {
    padding: 1em;
}

.comment {
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
    margin: 15px auto;
    border-left: 5px solid #7fcaa2;
}

.comment-date {
    font-size: 0.75em;
    font-weight: 300;
    color: #777;
    margin-left: 10px;
}
