
<div *ngIf="post$ | async as post" class="container">

    <!-- <div class="author-info">
        <img [src]="post?.user?.profileUrl" alt="Profile Picture" style="height: 75px; margin-right: 1em; cursor: pointer;" [routerLink]="'/' + post.user.username">
        <div>
            <p style="font-size: 1.75em; margin: 0 1em 0 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post?.user?.username }}</p>
            <p style="color: #777">{{ post.createdTimestamp.toDate() | date }}</p>
        </div>
    </div> -->

    <mat-card style="margin: 2em auto; min-height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
        <div style="display: flex; align-items: center;">

            <div class="author-info">
                <img [src]="post.user?.profileUrl" alt="Profile Picture" style="height: 75px; margin-right: 1em; cursor: pointer;" [routerLink]="'/' + post.user.username">
                <div>
                    <p style="font-size: 1.75em; margin: 0 1em 0 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post?.user?.username }}</p>
                    <p style="color: #777">{{ post.createdTimestamp.toDate() | date }}</p>
                </div>
            </div>

            <h1 style="margin-left: 88px">{{ post.title }}</h1>

        </div>

        <hr style="width: 100%; margin: 1em auto;">
        
        <!-- <quill-view [content]="post.content"></quill-view> -->
        <!-- <img *ngFor="let img of post.images" style="display: block; margin: 1em auto; width: 90%;" [src]="img.url" alt="Post Image" /> -->

        <ngx-hm-carousel
            #carousel
            [(ngModel)]="carouselIndex"
            [data]="post.images"
            class="carousel">
        
            <section ngx-hm-carousel-container class="content">
                <article ngx-hm-carousel-item *ngFor="let img of post.images" class="item">
                    <img [src]="img.url" alt="Post Image" draggable="false" class="post-img">
                </article>
                <!-- <ng-template #infiniteContainer></ng-template> -->
            </section>
        
            <ng-template #carouselContent let-img let-i="index">
                <article class="item">
                    <img [src]="img.url" alt="Post Image" draggable="false" class="post-img">
                </article>
            </ng-template>
        
            <ng-template #carouselPrev>
                <div *ngIf="post.images?.length > 1" style="text-align: center; margin-bottom: auto;">
                    <mat-icon style="font-size: 2em">keyboard_arrow_left</mat-icon>
                </div>
            </ng-template>
        
            <ng-template #carouselNext>
                <div *ngIf="post.images?.length > 1" style="text-align: center; margin-bottom: auto;">
                    <mat-icon style="font-size: 2em">keyboard_arrow_right</mat-icon>
                </div>
            </ng-template>
        
        </ngx-hm-carousel>


        <p style="text-align: center; margin-top: 1.2em;">{{ post.description }}</p>

        <br>









        <div>
            <hr>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <button mat-icon-button (click)="facebookShare()">
                        <mat-icon svgIcon="facebook"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon svgIcon="twitter" style="transform: scale(1.4)"></mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>link</mat-icon>
                        <span style="margin-left: 5px">Copy Link</span>
                    </button>
                </div>
                <div>
                    <span *ngIf="post.likes">{{ post.likes }}</span>
                    <button mat-icon-button (click)="likePost()" color="warn">
                        <mat-icon *ngIf="!alreadyLiked" color="warn">favorite_border</mat-icon>
                        <mat-icon *ngIf="alreadyLiked" color="warn">favorite</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>

        <button
            *ngIf="post.price && post.quantity"
            mat-raised-button
            color="primary"
            style="margin: 1em auto; color: white;"
            [routerLink]="'/purchase/' + post.postId">
            Buy Now! - {{ post.price | currency }}
        </button>
    </mat-card>

    <!-- recent posts by that artist -->
    <div style="margin: 2em 0">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 >Recent Posts by {{ post?.user?.username }}</h3>
            <button mat-raised-button [routerLink]="'/' + post.user.username">View All</button>
        </div>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            <mat-card *ngFor="let post of userPosts$ | async" style="width: 200px; margin: 0.5em; cursor: pointer;" [routerLink]="'/post/' + post.postId">
                <img mat-card-image *ngIf="post.thumbnailImgUrl" [src]="post.thumbnailImgUrl" alt="Post Image" style="max-height: 200px">
                <mat-card-content>
                    <p>{{ post.title }}</p>
                    <p>{{ post.createdTimestamp.toDate() | date }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- featured posts from deli -->
    <!-- <div style="margin: 2em 0">
        <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <h3>Featured Posts</h3>
            <button mat-raised-button routerLink="/deli">View More</button> 
        </div>
        <div style="display: flex; justify-content: space-around;">
            <mat-card *ngFor="let post of featuredPosts$ | async" style="height: 250px; width: 200px; margin: 0.5em; cursor: pointer;" [routerLink]="'/post/' + post.postId">
                <img mat-card-image [src]="post.thumbnailUrl" alt="Post Image" style="max-height: 200px">
                <mat-card-content>
                    <p>{{ post.title }}</p>
                    <p>{{ post.createdTimestamp.toDate() | date }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->

</div>
