
<div *ngIf="post$ | async as post" style="max-width: 1000px; margin: 0 auto; padding: 3em 2em 4em; background-color: #e7e7e7;">

    <div style="display: flex; justify-content: start; align-items: center;">
        <img [src]="post?.user?.profileUrl" alt="Profile Picture" style="height: 75px; margin-right: 1em; cursor: pointer;" [routerLink]="'/' + post.user.username">
        <p style="font-size: 1.75em; margin: 0 1em 0 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post?.user?.username }}</p>
        <p>{{ post.createdTimestamp.toDate() | date }}</p>
    </div>

    <mat-card style="margin: 2em auto; min-height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
        <h1 style="margin: 0.5em 0 1em">{{ post.title }}</h1>
        <!-- <quill-view [content]="post.content"></quill-view> -->

        <p>{{ post.description }}</p>


        <img *ngFor="let img of post.images" style="display: block; margin: 1em auto; width: 90%;" [src]="img.url" alt="Post Image" />


        <div>
            <hr>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <button mat-icon-button (click)="facebookShare()">
                        <mat-icon svgIcon="facebook"></mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon svgIcon="twitter" style="transform: scale(1.4)"></mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>link</mat-icon>
                        <span style="margin-left: 5px">Copy Link</span>
                    </button>
                </div>
                <div>
                    <span *ngIf="post.likes">{{ post.likes }}</span>
                    <button mat-icon-button (click)="likePost()" color="warn">
                        <mat-icon *ngIf="!alreadyLiked" color="warn">favorite_border</mat-icon>
                        <mat-icon *ngIf="alreadyLiked" color="warn">favorite</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>

        <button
            *ngIf="post.price && post.quantity"
            mat-raised-button
            color="primary"
            style="margin: 1em auto; color: white;"
            [routerLink]="'/purchase/' + post.postId">
            Buy Now! - {{ post.price | currency }}
        </button>
    </mat-card>

    <!-- recent posts by that artist -->
    <div style="margin: 2em 0">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 >Recent Posts by {{ post?.user?.username }}</h3>
            <button mat-raised-button [routerLink]="'/' + post.user.username">View All</button>
        </div>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            <mat-card *ngFor="let post of userPosts$ | async" style="width: 200px; margin: 0.5em; cursor: pointer;" [routerLink]="'/post/' + post.postId">
                <img mat-card-image *ngIf="post.thumbnailImageUrl" [src]="post.thumbnailImageUrl" alt="Post Image" style="max-height: 200px">
                <mat-card-content>
                    <p>{{ post.title }}</p>
                    <p>{{ post.createdTimestamp.toDate() | date }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- featured posts from deli -->
    <!-- <div style="margin: 2em 0">
        <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <h3>Featured Posts</h3>
            <button mat-raised-button routerLink="/deli">View More</button> 
        </div>
        <div style="display: flex; justify-content: space-around;">
            <mat-card *ngFor="let post of featuredPosts$ | async" style="height: 250px; width: 200px; margin: 0.5em; cursor: pointer;" [routerLink]="'/post/' + post.postId">
                <img mat-card-image [src]="post.thumbnailUrl" alt="Post Image" style="max-height: 200px">
                <mat-card-content>
                    <p>{{ post.title }}</p>
                    <p>{{ post.createdTimestamp.toDate() | date }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->

</div>
