.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0 3em;
}

@media (min-width: 500px) {
    .container {
        padding: 1em 2em 3em;
    }
}

// mobile sub-header

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.sub-header__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.sub-header__image {
    max-height: 50px;
    max-width: 50px;
    margin-right: 0.5em;
}

.sub-header__username {
    font-size: 1.25em;
}

.mobile-title {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
}

@media (min-width: 777px) {

    .author-info {
        display: flex;
    }
}

.author-info {
    display: none;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 200ms all ease-out;
}

.author-info:hover {
    opacity: 0.6;
}

.profile-pic {
    max-height: 100px;
    max-width: 100px;
    margin-right: 1em;
    cursor: pointer;
}

/* Carousel */

.carousel {
    display: none;
    width: 100%;
    margin: auto;
}

.content {
    display: flex;
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.transition {
    transition: all 0.3s ease-out !important;
}

.post-img {
    -webkit-user-drag: none !important;
    -khtml-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;

    -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.75);

    max-width: 90%;
    margin: 0 auto;
    display: block;
    max-height: 90vh;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    display: none;
    margin-left: 0;
}

.tag-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.tag-chip {
    cursor: pointer;
}

.arrows {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

@media (min-width: 666px) {
    .post-header {
        flex-direction: row;
    }

    .post-title {
        display: block;
        margin-left: 2em;
    }

    .mobile-title {
        display: none;
    }
}
