<div *ngIf="post$ | async as post" class="container">

    <div class="sub-header">
        <div class="sub-header__user" [routerLink]="'/' + post.user.username">
            <img class="sub-header__image" [src]="post.user.thumbnail | async" alt="Profile Picture">
            <div class="sub-header__username">{{ post?.user?.username }}</div>
        </div>

        <div class="sub-header__date">{{ post.createdTimestamp.toDate() | date }}</div>
    </div>

    <div class="mobile-title">{{ post.title }}</div>

    <app-post-images *ngIf="post.images?.length" class="mobile-images" [images]="post.images"></app-post-images>

    <mat-card style="margin: 2em auto; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="post-header">
            <div class="author-info">
                <img [src]="post.user.thumbnail | async" alt="Profile Picture" class="profile-pic" [routerLink]="'/' + post.user.username">
                <div>
                    <p style="font-size: 1.75em; margin: 0 1em 0 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post?.user?.username }}</p>
                    <p style="color: #777">{{ post.createdTimestamp.toDate() | date }}</p>
                </div>
            </div>
            <h1 class="post-title">{{ post.title }}</h1>
        </div>

        <button
            *ngIf="canPurchase"
            mat-raised-button
            color="accent"
            style="display: block; width: 95%; max-width: 666px; margin: 1em auto; font-size: 1.1em;"
            [routerLink]="'/purchase/' + post.postId">
            <span>Purchase</span>
            <mat-icon style="margin-left: 10px">shopping_cart</mat-icon>
        </button>

        <div class="desktop-post-info">
            <hr>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <button mat-icon-button (click)="facebookShare()">
                        <mat-icon svgIcon="facebook"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="twitterShare()">
                        <mat-icon svgIcon="twitter"></mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button (click)="likePost()" color="warn">
                        <mat-icon *ngIf="!alreadyLiked" color="warn">favorite_border</mat-icon>
                        <mat-icon *ngIf="alreadyLiked" color="warn">favorite</mat-icon>
                    </button>
                    <span *ngIf="likeCount">{{ likeCount }} {{ likeCount == 1 ? 'like' : 'likes' }}</span>
                </div>
            </div>
            <hr>
            <mat-chip-list *ngIf="post.tags?.length" class="tag-container">
                <mat-chip
                    *ngFor="let tag of post.tags"
                    class="tag-chip"
                    (click)="searchByTag(tag)">
                    {{ tag }}
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- <button
            *ngIf="post.price && post.quantity"
            mat-raised-button
            color="primary"
            style="margin: 1em auto; color: white;"
            [routerLink]="'/purchase/' + post.postId">
            Buy Now! - {{ post.price | currency }}
        </button> -->
    </mat-card>


    <!-- description -->
    <mat-card *ngIf="post.description" style="margin: 1.25em auto">
        <mat-card-content>{{ post.description.length > 100 ? post.description.substring(0, 100) + '...' : post.description }}</mat-card-content>
    </mat-card>
    

    <!-- Comments -->
    <app-comments [deliPostId]="postId" [postUserId]="postUserId"></app-comments>


    <!-- recent posts by that artist -->
    <div style="margin: 2em 0">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 >Recent Posts</h3>
            <button mat-raised-button routerLink="/deli">View All</button>
        </div>

        <ng-container *ngIf="recentPosts$ | async as posts">
            <app-post-layout [posts]="posts"></app-post-layout>
        </ng-container>
    </div>

</div>

<app-footer></app-footer>
