.heading-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: 0.5em auto;
}

.post-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.post-card {
    transition: 200ms all ease-out;
    text-align: center;
    margin: 0.5em;
    cursor: pointer;
}

.post-card:hover {
    -webkit-box-shadow: 0px 3px 25px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 25px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 25px 1px rgba(0,0,0,0.5);
}

.post-img {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
}

.post-thumbnail {
    margin: 0.5em;
    cursor: pointer;
    max-width: 300px;
    transition: all 200ms ease-out;
    padding-top: 0;
}

.post-thumbnail:hover {
    margin: 0.75em 0.5em 0.25em;
}
