<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-weight: 300; margin-left: 10px;">Posts</h2>
    <div *ngIf="editable">
        <button
            *ngIf="editing"
            mat-raised-button
            color="primary"
            style="margin-right: 1em; color: white;"
            [disabled]="!postTitle || !postCategory || !postContent"
            (click)="submitPost()">
            <mat-icon>done</mat-icon>
            Submit
        </button>
        <button *ngIf="editing" mat-raised-button (click)="editing = false; firstImageUrl = null;">
            <mat-icon>close</mat-icon>
            Cancel
        </button>
        <button *ngIf="!editing" mat-raised-button (click)="editing = true">
            <mat-icon>add</mat-icon>
            New Post
        </button>
    </div>
</div>

<div *ngIf="editing && !user.approvedSeller">
    <button mat-raised-button routerLink="/seller" style="width: 100%">Connect your account to Stripe to add a price</button>
</div>

<mat-form-field *ngIf="editing" color="primary" style="display: block; width: 90%; margin: 1em auto;">
    <input
        matInput
        [(ngModel)]="postTitle"
        placeholder="Title"
        maxlength="120"
        minlength="1"
        autocomplete="off">
    <mat-hint *ngIf="!postTitle">Must have a title</mat-hint>
</mat-form-field>

<div *ngIf="editing" style="width: 90%; display: flex; justify-content: space-between; align-items: center;">
    <mat-form-field color="primary" style="flex: 1; margin: 1em;">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="postCategory">
            <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <button *ngIf="!postImagePreview" mat-button style="padding: 0">
        <label for="post-pic-upload" style="cursor: pointer; display: flex; align-items: center; padding: 0 1em;">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload Post Preview Image</span>
        </label>
    </button>
    <input
        id="post-pic-upload"
        type="file"
        accept="image/*"
        style="display: none"
        (change)="uploadPostPic($event)"> -->

    <img *ngIf="firstImageUrl" [src]="firstImageUrl" alt="Post Image" style="max-width: 150px; max-height: 150px;">

</div>

<div *ngIf="editing && user.approvedSeller" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
    <mat-form-field color="primary" style="width: 120px; margin: 1em;">
        <mat-icon matPrefix color="primary">attach_money</mat-icon>
        <input
            matInput
            type="text"
            placeholder="Price"
            [(ngModel)]="price"
            (input)="priceInput($event)"
            color="primary"
            maxlength="5"
            autocomplete="off">
        <span matSuffix>.00 &nbsp;</span>
        <mat-hint>Optional</mat-hint>
    </mat-form-field>

    <mat-form-field color="accent" style="flex: 1; margin: 1em;">
        <mat-label>Available Quantity</mat-label>
        <mat-select [(ngModel)]="quantity">
            <mat-option *ngFor="let quant of quantityArr" [value]="quant">
                {{ quant }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<input type="file" style="display: none" id="quillImageField">

<quill-editor
    *ngIf="editing"
    [modules]="modules"
    [(ngModel)]="postContent"
    [placeholder]="'Share your work and thoughts here! The first image you include will be the thumbnail for the post. Make sure you have a title and select a category!'"
    [styles]="{'min-height': '200px', 'margin-bottom': '1em'}"
    (onEditorCreated)="onEditorChanged($event)">
    <div quill-editor-toolbar>
        <span class="ql-formats">
            <select class="ql-align" [title]="'Alignment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-font"></select>
            <select class="ql-size"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline" [title]="'Underline'"></button>
            <button class="ql-strike" [title]="'Strike'"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote" [title]="'Quote'"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
        </span>
    </div>
</quill-editor>

<div class="post-list">
    <mat-card *ngFor="let post of posts$ | async" class="post-thumbnail" (click)="viewPost(post.postId)">
        <img mat-card-image *ngIf="post.thumbnailUrl" [src]="post.thumbnailUrl" alt="Post Image">
        <mat-card-content>
            <p>{{ post.title }}</p>
            <p>{{ post.createdTimestamp.toDate() | date }}</p>
            <p>{{ user.username }}</p>
            <div *ngIf="post.price" style="float: right; margin-top: -4em;">
                <p>{{ post.price | currency }}</p>
                <p>{{ post.quantity }} remaining</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

