<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-weight: 300">Posts</h2>
    <div *ngIf="editable">
        <button
            *ngIf="editing"
            mat-raised-button
            color="primary"
            style="margin-right: 1em"
            [disabled]="!postTitle || !postCategory || !postContent"
            (click)="submitPost()">
            <mat-icon>done</mat-icon>
            Submit
        </button>
        <button *ngIf="editing" mat-raised-button (click)="editing = false">
            <mat-icon>close</mat-icon>
            Cancel
        </button>
        <button *ngIf="!editing" mat-raised-button (click)="editing = true">
            <mat-icon>add</mat-icon>
            New Post
        </button>
    </div>
</div>

<mat-form-field *ngIf="editing" color="primary" style="display: block; width: 100%; margin: 1em auto;">
    <input
        matInput
        [(ngModel)]="postTitle"
        placeholder="Title"
        maxlength="120"
        minlength="1"
        autocomplete="off">
    <mat-hint *ngIf="!postTitle">Must have a title</mat-hint>
</mat-form-field>

<div style="width: 100%; display: flex; justify-content: space-between;">
    <mat-form-field *ngIf="editing" color="primary" style="flex: 1; margin: 1em;">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="postCategory">
            <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="editing" color="primary" style="flex: 1; margin: 1em;">
        <mat-icon matPrefix color="primary">attach_money</mat-icon>
        <input matInput type="number" placeholder="Price (optional)" color="primary" min="1" max="10000" autocomplete="off">
    </mat-form-field>
</div>

<quill-editor
    *ngIf="editing"
    [modules]="modules"
    [(ngModel)]="postContent"
    [placeholder]="'The...'"
    [styles]="{'min-height': '200px', 'margin-bottom': '1em'}"
    (onEditorChanged)="onEditorChanged($event)">
    <div quill-editor-toolbar>
        <span class="ql-formats">
            <select class="ql-font"></select>
            <select class="ql-size"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline" [title]="'Underline'"></button>
            <button class="ql-strike" [title]="'Strike'"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote" [title]="'Quote'"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
        </span>
        <span class="ql-formats">
            <select class="ql-align" [title]="'Alignment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
        </span>
    </div>
</quill-editor>

<div class="post-list">
    <mat-card *ngFor="let post of posts$ | async" class="post-thumbnail" (click)="viewPost(post)">
        <img mat-card-image src="assets/jazzy-on-desk.jpg" alt="Post Image">
        <mat-card-content>
            <p>{{ post.title }}</p>
            <p>{{ post.createdDate.toDate() | date }}</p>
            <p>Author Username</p>
        </mat-card-content>
    </mat-card>
</div>

