<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-weight: 300; margin-left: 10px;">Posts</h2>
    <div *ngIf="editable">
        <!-- <button
            *ngIf="editing"
            mat-raised-button
            color="primary"
            style="margin-right: 1em; color: white;"
            [disabled]="!postTitle || !postCategory || !postContent"
            (click)="submitPost()">
            <mat-icon>done</mat-icon>
            Submit
        </button> -->
        <button *ngIf="editing" mat-raised-button (click)="cancelNewPost()">
            <mat-icon>close</mat-icon>
            Cancel
        </button>
        <button *ngIf="!editing" mat-raised-button (click)="startNewPost()">
            <mat-icon>add</mat-icon>
            New Post
        </button>
    </div>
</div>

<div *ngIf="editing && !user.approvedSeller">
    <button mat-raised-button routerLink="/seller" style="width: 100%">Connect your account to Stripe to add a price</button>
</div>

<app-create-post
    *ngIf="editing"
    [post]="editingPost"
    [approvedSeller]="user.approvedSeller"
    (save)="submitPost($event)">
</app-create-post>

<div class="post-list">
    <mat-card *ngFor="let post of posts$ | async" class="post-thumbnail" (click)="viewPost(post.postId)">
        <img mat-card-image *ngIf="post.thumbnailImageUrl" [src]="post.thumbnailImageUrl" alt="Post Image">
        <mat-card-content>
            <p>{{ post.title }}</p>
            <p>{{ post.createdTimestamp.toDate() | date }}</p>
            <p>{{ user.username }}</p>
            <div *ngIf="post.price" style="float: right; margin-top: -4em;">
                <p>{{ post.price | currency }}</p>
                <p>{{ post.quantity }} remaining</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

