ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 1em;
    cursor: pointer;
    transition: all 200ms ease-out;
}

ul li:hover {
    background-color: #e8e8e8;
}

.active {
    background-color: #6feea4;
}

.active:hover {
    background-color: #40d0e9;
}
