
<mat-toolbar style="height: 8vh; display: flex; justify-content: space-around; align-items: center;">
    <span>Admin Dashboard</span>
    <button mat-button>{{ username }} - Log Out</button>
</mat-toolbar>

<mat-drawer-container style="height: 92vh">
    <mat-drawer mode="side" opened style="height: 100%; width: 200px;">
        <ul>
            <li routerLink="/admin" style="background-color: gray">Home</li>
            <li routerLink="/admin/new-post" routerLinkActive="active">New Prime Post</li>
            <li routerLink="/admin/featured" routerLinkActive="active">Featured Posts</li>
            <li routerLink="/admin/exhibitions" routerLinkActive="active">Exhibitions</li>
            <li routerLink="/admin/studios" routerLinkActive="active">Studios</li>
            <li routerLink="/admin/promo-codes" routerLinkActive="active">Promo Codes</li>
            <li routerLink="/admin/store" routerLinkActive="active">Store</li>
            <li routerLink="/admin/more" routerLinkActive="active">More</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content style="padding: 1em">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
