/* Carousel */

.carousel {
    height: 180px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.content {
    display: flex;
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.transition {
    transition: all 0.3s ease-out !important;
}


/* Icon Row */

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    max-width: 95%;
    margin: 1em auto;
}

.icon-container mat-icon {
    cursor: pointer;
}

.icon-container mat-icon:hover {
    opacity: 0.7;
}

.selected {
    color: green;
}


/* Posts */

.post-list {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(white, #f5f5f5);
    display: flex;
    flex-wrap: wrap;
}

.post-thumbnail {
    width: 95%;
    max-width: 200px;
    margin: 1rem auto;
    cursor: pointer;
    padding-top: 0;
    transition: all 200ms ease-out;
}

.post-thumbnail:hover {
    width: 800px;
}

@media (min-width: 777px) {
    .item {
        font-size: 3em;
        padding: 0 1em;
    }
}
