
<!-- list all service orders with their status -->
<ng-container *ngIf="!viewingService && serviceOrders$ !== undefined">
    <div *ngFor="let service of serviceOrders$ | async" class="service-thumbnail" (click)="viewService(service)">
        {{ service.serviceTitle }} - {{ service.inquiredTimestamp.toDate() | date }} - 
        <span *ngIf="!service.accepted">Inquired</span>
        <span *ngIf="service.accepted && !service.purchased">Accepted</span>
        <span *ngIf="service.purchased && !service.shipped">Purchased</span>
        <span *ngIf="service.shipped">Shipped</span>
    </div>
</ng-container>



<!-- show single order chat -->
<div *ngIf="viewingService" style="padding-bottom: 2em">

    <!-- back to all services button -->
    <button mat-raised-button (click)="stopViewingService()">
        <mat-icon>arrow_back</mat-icon>
        View All
    </button>


    <!-- original service order details -->
    <div class="initial-order">
        <h3>Original Service Order</h3>
        <p>{{ viewingService.serviceTitle }} - {{ viewingService.inquiredTimestamp.toDate() | date }}</p>
        <p>{{ viewingService.serviceDescription }}</p>
        <p>{{ viewingService.orderDescription }}</p>
        <img
            *ngFor="let img of viewingService.orderImages"
            style="max-width: 100px"
            [src]="img.url"
            alt="Service Image">
    </div>


    <!-- messages display -->
    <div *ngFor="let msg of viewingService.messages" [ngClass]="msg.uid === user.uid ? 'user-msg' : 'other-user-msg'">
        <p *ngIf="msg.timestamp?.toDate" style="color: gray">{{ msg.timestamp.toDate() | date:'medium' }}</p>
        <p *ngIf="!msg.timestamp.toDate" style="color: gray">{{ msg.timestamp | date:'medium' }}</p>
        <p>{{ msg.text }}</p>
    </div>


    <!-- message input and send button-->
    <mat-form-field
        style="width: 90%; max-width: 800px; margin: 2em auto 0; display: block;">
        <textarea
            matInput
            rows="5"
            placeholder="Send Message..."
            [(ngModel)]="newMessageText">
        </textarea>
    </mat-form-field>
    <button
        mat-raised-button
        (click)="sendMessage()"
        [disabled]="!newMessageText"
        style="display: block; margin: auto;">
        Send Message
    </button>


    <!-- price input -->
    <mat-form-field
        *ngIf="!viewingService.purchased"
        color="primary"
        style="display: block; margin: 1em auto; width: 120px;">
        <mat-icon matPrefix color="primary">attach_money</mat-icon>
        <input
            matInput
            [(ngModel)]="newServicePrice"
            placeholder="Price"
            (input)="priceInput()"
            maxlength="5"
            autocomplete="off">
        <span matSuffix>.00 &nbsp;</span>
        <mat-hint>Required</mat-hint>
    </mat-form-field>


    <!-- Accept/Update Price button -->
    <button
        *ngIf="!viewingService.purchased"
        mat-raised-button
        [disabled]="!newServicePrice"
        color="primary"
        style="display: block; width: 90%; margin: 0.5em auto; color: white;"
        (click)="acceptService()">
        {{ viewingService.accepted ? 'Update Price' : 'Approve Service' }}
    </button>


    <!-- Ship button -->
    <button
        *ngIf="viewingService.purchased && !viewingService.shipped"
        mat-raised-button
        color="primary"
        style="display: block; width: 90%; margin: 0.5em auto; color: white;"
        (click)="shipService()">
        Mark as Finished & Shipped
    </button>
</div>
