<div style="font-size: 2rem; width: 100%; max-width: 400px; margin: 3rem auto; display: flex; justify-content: space-around; align-items: center;">
    <mat-icon
        style="cursor: pointer"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        keyboard_arrow_left
    </mat-icon>
    <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    <mat-icon
        style="cursor: pointer"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        keyboard_arrow_right
    </mat-icon>
</div>


<div *ngIf="events$ | async; let events" style="width: 1000px; max-width: 95%; margin: 1em auto 3rem;">
    <mwl-calendar-month-view
        class="dark-theme"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        [openDayEventsTemplate]="eventsRow">
    </mwl-calendar-month-view>
</div>


<ng-template #eventsRow let-events="events" let-eventClicked="eventClicked" let-isOpen="isOpen">
    <div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
        <div *ngFor="let event of events" class="event-preview" (mwlClick)="eventClicked.emit({ event: event })">
            <!-- <div class="event-title">{{ event.title }}</div> -->
            <div class="event-image" [style.background-image]="'url(' + event.data.imageUrl + ')'"></div>
        </div>
    </div>
</ng-template>
