<div style="text-align: center">
    
    <img src="assets/images/signup-popup.png" alt="Sign Up Now" style="max-width: 100%; max-height: 300px; display: hidden;">

    <br>

    <div style="display: flex; justify-content: center; margin-top: -50px; margin-bottom: 10px;">
        <button
            mat-raised-button
            color="primary"
            style="color: white; margin-right: 5px;"
            (click)="googleLogin()">
            Google
        </button>

        <button
            mat-raised-button
            style="background-color: #3f6fff; color: white; margin-left: 5px;"
            (click)="facebookLogin()">
            Facebook
        </button>
    </div>

    <!-- <br> -->
</div>