.container {
    max-width: 1200px;
    margin: 1em auto;
}

.interview-category {
    height: 500px
}

.moods-category {
    height: 500px;
}

.rants-category {
    height: 500px;
}

.case-studies-category {
    height: 500px;
}
