<div style="max-width: 888px; margin: 1em auto;">

    <p style="text-align: center">Plebeian Terms and Conditions</p>

    <br><br>
    
    <p style="text-align: center">Welcome to Plebeian!</p>
    
    <p>By entering the platform (plebeiandeli.art), you are agreeing to the terms and conditions below. The Plebeian Deli is a platform is a product belonging to Plebeian Inc. These terms are a legally binding contract between yourself and Plebeian Inc.</p>
    
    <br>

    <h3>Services</h3>
    
    <p>The Plebeian Deli platform (plebeiandeli.art) provides resources and tools for artists to apply to their personal practice. We provide:</p>
    
    <ul>
        <li>A social network for connecting and creating online interaction between accounts. Provided accounts held by galleries, academics, artists, and buyers.</li>
    
        <li>Promotion of accounts through our content outlets.</li>
    
        <li>Information and details about upcoming opportunities and events in the industry.</li>
    
        <li> A profile that functions as both a catalogue of work/experience as well as a store.</li>
    
        <li>Artist profile can be attached to a unique Stripe account. The Stripe payment-processing platform will handle sales of work in collaboration with Plebeian Inc.</li>
    </ul>
    
    <p>You can find the Stripe Terms and Conditions <a href="https://stripe.com/connect-account/legal" target="_blank">Here</a></p>
    
    <br>
    
    <h3>Rights and Permissions</h3>
    
    <p>Artist and gallery accounts will retain the full rights to any content that they share. By agreeing to these terms and sharing work the account holder is acknowledging that they own the rights to said materials. The account holder also grants Plebeian Inc. the rights to reproduce materials as a form of demonetized and promotional content. However, any reproduction of materials for profit by Plebeian Inc. must be done in collaboration and with granted permission by the account.</p>
    
    <br>

    <h3>Behaviors and Actions</h3>
    
    <ul>
        <li>Accounts suspected of or witnessed posting materials without the right to said materials will be terminated.</li>
    
        <li>By extension any materials posted by an account without the proper rights will be removed.</li>
    </ul>
    
    <br>

    <h3>Reservations</h3>
    
    <ul>
        <li>Plebeian Inc. reserves the right to determine which actions are deemed inappropriate, as well as the resulting punishment.</li>
    
        <li>Plebeian Inc. reserves the right to amend and and reissue these terms listed above at any time.</li>
    </ul>

    <br>

    <hr>

</div>

