<mat-card *ngIf="!approvedSeller" class="seller-card">
    <p>Plebeian is integrated with Stripe to process payments.</p>
    <br>
    <p>When you click "Connect With Stripe" you will be taken to a special Stripe page to setup or link your account.</p>
    <br>
    <p>If you already have a Stripe account you will just log in and automatically be linked to Plebeian and taken back to Plebeian Site.</p>
    <br>
    <p>If you are new to Stripe you will create an account and then be re-directed back to the Plebeian Site when you are finished.</p>
    <br>
    <p>After the setup you will be eligible to put a price on your work and recieve orders!</p>
    <br>
    <img
        src="assets/images/connect-with-stripe.png"
        alt="Connect With Stripe"
        class="connect-img"
        (click)="connectClick()">
</mat-card>



<mat-card *ngIf="approvedSeller" class="approved-seller-card">

    <p>You are an official Plebeian Seller!</p>

    <p>You can now add a Price and Quantity to your posts. This will allow anyone to purchase to your work from Plebeian Deli.</p>

    <p>Orders go here</p>

</mat-card>
