<mat-card *ngIf="!user || !approvedSeller" class="seller-card">
    <p>Plebeian is integrated with Stripe to process payments.</p>
    <br>
    <p>When you click "Connect With Stripe" you will be taken to a special Stripe page to setup or link your account.</p>
    <br>
    <p>If you already have a Stripe account you will just log in and automatically be linked to Plebeian and taken back to Plebeian Site.</p>
    <br>
    <p>If you are new to Stripe you will create an account and then be re-directed back to the Plebeian Site when you are finished.</p>
    <br>
    <p>After the setup you will be eligible to put a price on your work and recieve orders!</p>
    <br>
    <img
        src="assets/images/connect-with-stripe.png"
        alt="Connect With Stripe"
        class="stripe-img"
        (click)="connectClick()">
</mat-card>

<mat-card *ngIf="user && approvedSeller" class="approved-seller-card">

    <p style="text-align: center; font-size: 0.9em;">Customize the Order Placed Message for your new supporters to recieve with their purchase.</p>

    <mat-form-field style="width: 100%; margin: 2em 0; position: relative;" color="accent">
        <button *ngIf="orderMessage?.value !== user.orderPlacedMessage" mat-icon-button color="primary" (click)="saveOrderMessage(orderMessage.value)" style="position: absolute; top: 0; right: 0; cursor: pointer;">
            <mat-icon>done</mat-icon>
        </button>
        <textarea #orderMessage matInput [value]="user.orderPlacedMessage || ''" rows="4" autocomplete="off" maxlength="240" placeholder="Say Thank You to your Customers"></textarea>
        <mat-hint align="end">{{ orderMessage.value?.length || 0 }}/240</mat-hint>
    </mat-form-field>

    <br>
    <p>You can now add a Price to your posts and offer commissions and services. This will allow anyone to purchase to your work from Plebeian Deli.</p>
    <br>
    <p>Accept payments from Apple Pay, Google Pay, Credit, and Debit!</p>
    <br>
    <p>Refund orders and customize the Stripe Checkout page from your Stripe Dashboard.</p>
    <br>
    <br>
    <a href="http://stripe.com" target="_blank" style="display: block; margin: 1em auto 2em; color: cadetblue; text-align: center;">Open Dashboard</a>

    <img
        src="assets/images/powered-by-stripe.png"
        alt="Powered By Stripe"
        class="stripe-img">

</mat-card>

<button mat-button style="display: block; margin: 100px auto;" (click)="approvedSeller = !approvedSeller">Toggle Approved Seller</button>
