<div class="order-info-box">

    <div class="heading">
        <div style="height: 30px; width: 30px; display: flex; border: 2px solid white; border-radius: 50%;"></div>

        <h3 style="margin-left: 1em">Artist Username</h3>
    </div>


    <div class="center-container">

        <div class="left-side">
            <h3>Post Title</h3>

            <div style="height: 77px; width: 77px; display: flex; border: 2px solid white;"></div>

            <p>Post Description</p>
        </div>

        <div class="right-side">
            <h3>Shipping Info</h3>

            <p style="text-align: center">1 Drummond Farms Ln, Newark, DE 19191</p>

            <div class="sub-total">
                <div class="sub-total-heading sub-total-item">
                    <span>Subtotal:</span>
                    <span>{{ 20 | currency }}</span>
                </div>
                <div class="sub-total-item">
                    <span>Processing:</span>
                    <span>+ 1.64</span>
                </div>
                <div class="sub-total-item">
                    <span>Shipping:</span>
                    <span>+ 1.01</span>
                </div>
            </div>

            <div class="total">
                <span>Total: </span>
                <span>{{ 22.65 | currency }}</span>
            </div>
        </div>

    </div>

</div>


<div class="status-update"></div>


<div class="tracking-box"></div>
