
<div
    *ngIf="['/calendar', '/exhibitions', '/members', '/about', '/orders', '/notifications', '/faq'].includes(location.path()); else backOnly"
    class="container">

    <img
        *ngIf="profilePic | async as pic"
        [src]="pic"
        alt="Profile Pic"
        height="40"
        style="border-radius: 50%"
        (click)="sidenavClick()">

    <div style="font-size: 1.4em;">{{ location.path().substring(1) | titlecase }}</div>

    <button mat-icon-button routerLink="/chat">
        <mat-icon>mail</mat-icon>
    </button>
</div>



<ng-template #backOnly>
    <ng-container *ngIf="!['/deli', '/chat'].includes(location.path())">
        <div class="container">
            <button mat-icon-button (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div *ngIf="
                    user && location.path() === '/' + user.username
                    || ['/new-post', '/new-service', 'new-event', '/edit-profile', '/seller'].includes(location.path())
                    || location.path().split('/')[1] === 'order-details';
                    else noTitle"
                style="font-size: 1.4em;">
                {{ user && location.path() === '/' + user.username ? user.username : location.path().split('/')[1].split('-').join(' ') | titlecase }}
            </div>

            <!-- <ng-template #usernameTitle>
                <div style="font-size: 1.2em;">{{ user.username }}</div>
            </ng-template> -->

            <ng-template #noTitle>
                <div></div>
            </ng-template>

            <ng-container *ngIf="user">
                <button *ngIf="location.path() === '/' + user.username" mat-icon-button routerLink="/edit-profile">
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
</ng-template>
