
<div
    *ngIf="['/calendar', '/exhibitions', '/members', '/about'].includes(location.path()); else backOnly"
    class="container">

    <!-- <img
        src="assets/images/b35-ticket-logo.png"
        alt="Profile Pic"
        height="40"
        (click)="sidenavClick()"> -->

    <button mat-icon-button (click)="sidenavClick()">
        <mat-icon>face</mat-icon>
    </button>

    <div style="font-size: 1.4em;">{{ location.path().substring(1) | titlecase }}</div>

    <button mat-icon-button>
        <mat-icon>mail</mat-icon>
    </button>
</div>



<ng-template #backOnly>
    <ng-container *ngIf="!['/deli'].includes(location.path())">
        <div class="container">
            <button mat-icon-button (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <ng-container *ngIf="auth.user$ | async as user">
                <div></div>
                <button *ngIf="location.path() === '/' + user.username" mat-icon-button routerLink="/edit-profile">
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
</ng-template>
