
<div
    *ngIf="['/calendar', '/exhibitions', '/members', '/about', '/orders', '/notifications', '/faq'].includes(location.path()); else backOnly"
    class="container">

    <img
        *ngIf="profilePic | async as pic"
        [src]="pic"
        alt="Profile Pic"
        height="40"
        style="border-radius: 50%"
        (click)="sidenavClick()">

    <div style="font-size: 1.4em;">{{ location.path().substring(1) | titlecase }}</div>

    <button mat-icon-button>
        <mat-icon>mail</mat-icon>
    </button>
</div>



<ng-template #backOnly>
    <ng-container *ngIf="!['/deli'].includes(location.path())">
        <div class="container">
            <button mat-icon-button (click)="location.back()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div *ngIf="['/new-post', '/edit-profile'].includes(location.path()); else noTitle" style="font-size: 1.4em;">
                {{ location.path().substring(1).split('-').join(' ') | titlecase }}
            </div>

            <ng-template #noTitle>
                <div></div>
            </ng-template>

            <ng-container *ngIf="auth.user$ | async as user">
                <button *ngIf="location.path() === '/' + user.username" mat-icon-button routerLink="/edit-profile">
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
</ng-template>
