
<!-- list all services -->
<ng-container *ngIf="!viewingService">
    <div *ngFor="let service of serviceOrders$ | async" class="service-thumbnail" (click)="viewService(service)">
        {{ service.serviceTitle }} - {{ service.inquiredTimestamp.toDate() | date }} - 
        <span *ngIf="!service.accepted">Inquired</span>
        <span *ngIf="service.accepted && !service.purchased">Accepted</span>
        <span *ngIf="service.purchased && !service.shipped">Purchased</span>
        <span *ngIf="service.shipped">Shipped</span>
    </div>
</ng-container>



<div *ngIf="viewingService" style="padding-bottom: 2em">

    <button mat-raised-button (click)="stopViewingService()">
        <mat-icon>arrow_back</mat-icon>
        View All
    </button>


    <div class="initial-order">
        <h3>Original Service Order</h3>
        <p>{{ viewingService.serviceTitle }} - {{ viewingService.inquiredTimestamp.toDate() | date }}</p>
        <p>{{ viewingService.serviceDescription }}</p>
        <p>{{ viewingService.orderDescription }}</p>
        <img
            *ngFor="let img of viewingService.orderImages"
            style="max-width: 100px"
            [src]="img.url"
            alt="Service Image">
    </div>


    <div *ngFor="let msg of viewingService.messages" [ngClass]="msg.uid === user.uid ? 'user-msg' : 'other-user-msg'">
        <p *ngIf="msg.timestamp?.toDate" style="color: gray">{{ msg.timestamp.toDate() | date:'medium' }}</p>
        <p *ngIf="!msg.timestamp.toDate" style="color: gray">{{ msg.timestamp | date:'medium' }}</p>
        <p>{{ msg.text }}</p>
    </div>


    <mat-form-field style="width: 90%; max-width: 800px; margin: 2em auto 0; display: block;">
        <textarea
            matInput
            rows="5"
            placeholder="Send Message..."
            [(ngModel)]="newMessageText">
        </textarea>
    </mat-form-field>
    <button
        mat-raised-button
        (click)="sendMessage()"
        [disabled]="!newMessageText"
        style="display: block; margin: auto;">
        Send Message
    </button>


    <!-- if accepted show purchase button -->
    <button
        *ngIf="viewingService.accepted && !viewingService.purchased"
        mat-raised-button
        color="primary"
        (click)="purchaseService()"
        style="display: block; width: 90%; margin: 1em auto; color: white;">
        {{ viewingService.price | currency }} Purchase
    </button>

</div>