<div
    class="cont"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="777"
    [scrollWindow]="false"
    (scrolled)="onScroll()">

<div class="options-container">
    <div style="width: 95%; max-width: 500px; margin: 1em auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
        <mat-form-field color="accent">
            <mat-label>Search</mat-label>
            <input matInput #searchInput (keyup)="searchType(searchInput.value)" autocomplete="off">
            <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch(searchInput)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>Filter</mat-label>
            <mat-select [(ngModel)]="selectedCategories" (selectionChange)="categorySelect()" multiple>
                <mat-option *ngFor="let cat of categoryNames" [value]="cat">
                    {{ cat }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


<!-- Member List -->
<div class="member-container">

    <ng-container *ngFor="let member of users$ | async; index as i">
        <div
            *ngIf="member.backgroundThumbnail | async as bgThumbnail else noBgThumbnail"
            class="member-card"
            [ngStyle]="{
                'background': bgThumbnail.length ? 'url(' + bgThumbnail + ')' : 'linear-gradient(#add87d, #80caa2)'
            }"
            [ngClass]="bgThumbnail.length ? 'bg' : ''"
            [routerLink]="'/' + member.username">

            <div class="member-info">
                <div style="display: flex; justify-content: space-between; align-items: center; width: 90%; margin: auto;">
                    <img *ngIf="member.thumbnail" [src]="member.thumbnail | async" alt="Profile Pic" class="member-pic">
                    <span>{{ member.username }}</span>
                </div>
                <p class="member-description">{{ member.description }}</p>
            </div>

        </div>

        <ng-template #noBgThumbnail>
            <div
                class="member-card"
                style="background: linear-gradient(#add87d, #80caa2)"
                [routerLink]="'/' + member.username">
                <div class="member-info">
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 90%; margin: auto;">
                        <img *ngIf="member.thumbnail" [src]="member.thumbnail | async" alt="Profile Pic" class="member-pic">
                        <span>{{ member.username }}</span>
                    </div>
                    <p class="member-description">{{ member.description }}</p>
                </div>
            </div>
        </ng-template>
    </ng-container>

</div>

</div>
