mat-form-field {
    width: 90%;
    margin: 2em auto;
    display: block;
}

.image-preview-container {
    width: 95%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-preview {
    width: 100px;
    cursor: pointer;
}

.selected-thumbnail {
    border: 7px solid rgb(133, 202, 145);
}

.post-card {
    box-shadow: inset 10px 10px 20px rgba(255, 253, 253, 0.25) !important;
    margin: 0.5em auto 5em;
    width: 85%;
    max-width: 777px;
}
