<div class="container">
    <button mat-icon-button routerLink="/deli" routerLinkActive="active-tab">
        <mat-icon>eco</mat-icon>
    </button>

    <button mat-icon-button routerLink="/calendar" routerLinkActive="active-tab">
        <mat-icon>event</mat-icon>
    </button>

    <button mat-icon-button style="visibility: hidden;">
        <mat-icon>games</mat-icon>
    </button>

    <button mat-fab aria-label="New Post" class="fab-btn">
        <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button routerLink="/exhibitions" routerLinkActive="active-tab">
        <mat-icon>menu_book</mat-icon>
    </button>

    <button mat-icon-button routerLink="/members" routerLinkActive="active-tab">
        <mat-icon>people</mat-icon>
    </button>
</div>