.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mat-icon-button {
    color: #afafaf;
}

.active-tab {
    color: white;
}

.fab-btn {
    position: fixed;
    bottom: 30px;
    left: calc(50% - 26px);
}

@media (min-width: 777px) {
    .container {
        display: none;
    }
}
