.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deli-tab-img {
    cursor: pointer;
    opacity: 0.5;
}

.mat-icon-button {
    color: #afafaf;
}

.active-tab {
    color: white;
    opacity: 1 !important;
}

.fab-btn {
    position: fixed;
    bottom: 30px;
    left: calc(50% - 26px);
}

.active-fab {
    background-color: lightgray !important;
}
