<div *ngIf="location.path() !== '/login'" class="container">
    <img
        class="deli-tab-img"
        routerLink="/deli"
        routerLinkActive="active-tab"
        src="assets/images/b35-ticket-logo.png"
        alt="Profile Pic"
        height="40">

    <button mat-icon-button routerLink="/calendar" routerLinkActive="active-tab">
        <mat-icon>event</mat-icon>
    </button>

    <button mat-icon-button style="visibility: hidden;">
        <mat-icon>games</mat-icon>
    </button>

    <button
        mat-fab
        routerLink="/new"
        [disabled]="location.path().split('/')[1] === 'new' || location.path() === '/login'"
        aria-label="New Post"
        [ngClass]="location.path().split('/')[1] === 'new' || location.path() === '/login' ? 'disabled-fab-btn' : 'fab-btn'">
        <mat-icon style="transform: scale(1.3); padding-bottom: 2px;">add</mat-icon>
    </button>

    <button mat-icon-button routerLink="/exhibitions" routerLinkActive="active-tab">
        <mat-icon>menu_book</mat-icon>
    </button>

    <button mat-icon-button routerLink="/members" routerLinkActive="active-tab">
        <mat-icon>people</mat-icon>
    </button>
</div>