.profile-container {
    width: 100%;
    max-width: 777px;
    margin: auto;
}

.profile-background {
    width: 100%;
    height: 150px;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-user {
    position: relative;
    width: 100%;
    height: 100px;
}

.profile-username-and-medium{
    display: none;
    padding-left: 55%;
}

.profile-medium {
    display: block;
    padding-left: 55%;
}

.profile-pic {
    position: absolute;
    top: -50px;
    left: 25px;
    height: 125px;
    width: 125px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
}

.upload-btn {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background-color: lightgray;
    opacity: 0.85;
    cursor: pointer;
    box-sizing: border-box;
    transition: 200ms all ease-out;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-upload-btn {
    padding: 0.5em;
    opacity: 0.75;
    cursor: pointer;
    box-sizing: border-box;
    transition: 200ms all ease-out;
    border-radius: 10px;
    border: 2px dashed gray;
    color: gray;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-btn:hover, .background-upload-btn:hover {
    opacity: 1;
    font-size: 1.2em;
}

.widescreen-edit-button {
    display: none;
    width: 90%;
    max-width: 777px;
    margin: 2em auto;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.left-side, .right-side {
    padding: 1em;
    text-align: left;
}

.profile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-text {
    margin-left: 10px;
}

.services-container {
    overflow-x: scroll;
    display: flex;
    align-items: center;
}

.service-card {
    box-shadow: inset 4px 5px 20px rgba(255, 253, 253, 0.25);
    height: 120px;
    min-width: 120px;
    max-width: 160px;
    margin: 0.5em;
    position: relative;
    cursor: pointer;
}

.event-card {
    box-shadow: inset 4px 5px 20px rgba(255, 253, 253, 0.25);
    max-height: 200px;
    min-width: 120px;
    margin: 0.5em;
    position: relative;
    cursor: pointer;
}

.mat-card-image {
    margin-top: -16px;
    border-radius: 5px 5px 0 0;
    max-height: 170px;
}

@media (min-width: 777px) {
    .widescreen-edit-button, .profile-username, .profile-username-and-medium {
        display: block;
    }

    .profile-background {
        height: 250px;
    }

    .profile-pic {
        height: 225px;
        width: 225px;
        top: -125px;
    }

    .upload-btn {
        padding: 1em;
        border-radius: 0 0 20px 20px;
    }

    .profile-medium {
        display: none;
    }
}
