<button *ngIf="editable && !editing" mat-raised-button (click)="toggleEditing()" style="display: block; width: 90%; margin: 1em auto;">
    <mat-icon>edit</mat-icon>
    <span style="margin-left: 10px">Edit Profile</span>
</button>

<button *ngIf="editable && editing" mat-raised-button (click)="toggleEditing()" style="display: block; width: 90%; margin: 1em auto;">
    <mat-icon>sports_handball</mat-icon>
    <span style="margin-left: 10px">Done</span>
</button>

<br>

<ng-container *ngIf="user$ | async as user">
<div class="cont">

    <div class="left-column" [ngClass]="editing ? 'left-column-editing' : ''">
        
        <div class="header-section-1">
        
            <!-- Profile Pic-->
            <div
                class="profile-pic"
                [ngStyle]="{'background': user.profileUrl ? 'url(' + user.profileUrl + ')' : 'linear-gradient(#80caa2, #add87d)'}"
                [ngClass]="user.profileUrl ? 'bg' : ''">
                <ng-container *ngIf="editable">
                    <label for="profile-pic-upload" class="upload-btn">
                        <mat-icon>publish</mat-icon>
                        <span style="margin-left: 10px">Upload</span>
                    </label>
                    <input
                        id="profile-pic-upload"
                        type="file"
                        accept="image/*"
                        style="display: none"
                        (change)="uploadProfilePic($event)">
                </ng-container>
            </div>

            <!-- Medium -->
            <mat-form-field
                *ngIf="user.membership === 'artist' && editable && editing"
                color="accent"
                style="margin-top: 1em">
                <mat-label>Medium</mat-label>
                <mat-select [value]="user.medium" (selectionChange)="updateUserMedium($event)">
                    <mat-option *ngFor="let cat of categories" [value]="cat.name">
                        {{ cat.name | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Real Name -->
            <p *ngIf="!editing">{{ user.displayName || user.username }}</p>

            <br *ngIf="editing">

            <!-- Location -->
            <mat-form-field *ngIf="editable && editing; else viewLocation" color="accent">
                <input
                    matInput
                    [value]="user.location || ''"
                    placeholder="Location"
                    autocomplete="off"
                    (input)="onLocationInput($event.target.value)">
            </mat-form-field>

            <ng-template #viewLocation>
                <p>{{ user.location }}</p>
            </ng-template>

        </div>

        <div class="header-section-2">

            <!-- message -->
            <button
                *ngIf="!editable"
                mat-raised-button
                style="margin-bottom: 1em"
                (click)="initiateChat(user)">
                Send Message
            </button>

            <!-- Social Links -->
            <div *ngIf="editable && editing; else viewSocialLinks" style="width: 85%">
                <mat-form-field style="margin-top: 1em; margin-bottom: 1em;">
                    <span matPrefix>@ &nbsp;</span>
                    <input
                        matInput
                        #instagramInput
                        [value]="user.instagram || ''"
                        type="text"
                        placeholder="Instagram Handle"
                        autocomplete="off"
                        (input)="onInstagramInput($event.target.value)">
                    <mat-icon
                        matSuffix
                        (click)="$event.stopPropagation()">
                        link
                    </mat-icon>
                    <mat-hint>*link is generated from name</mat-hint>
                </mat-form-field>

                <br>

                <mat-form-field style="margin-top: 1em">
                    <input
                        matInput
                        #otherLinkInput
                        [value]="user.facebook || ''"
                        type="text"
                        placeholder="Facebook Link"
                        autocomplete="off"
                        (input)="onFacebookInput($event.target.value)">
                    <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
                </mat-form-field>

                <br>

                <mat-form-field style="margin-top: 1em">
                    <input
                        matInput
                        #otherLinkInput
                        [value]="user.otherLink || ''"
                        type="text"
                        placeholder="Other Link"
                        autocomplete="off"
                        (input)="onOtherLinkInput($event.target.value)">
                    <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
                </mat-form-field>
            </div>

            <ng-template #viewSocialLinks>
                <button *ngIf="user.instagram" mat-button (click)="openInstagram(user.instagram)">
                    <mat-icon svgIcon="instagram"></mat-icon>
                    <span class="social-text">{{ user.instagram }}</span>
                </button>

                <button *ngIf="user.facebook" mat-button (click)="openFacebook(user.facebook)">
                    <mat-icon svgIcon="facebook"></mat-icon>
                    <span class="social-text">Facebook</span>
                </button>

                <button *ngIf="user.otherLink" mat-button (click)="openOtherLink(user.otherLink)">
                    <mat-icon>link</mat-icon>
                    <span class="social-text">{{ user.otherLink }}</span>
                </button>
            </ng-template>

            <!-- CV -->
            <ng-container *ngIf="user.membership === 'artist' && editable && editing; else viewCV">
                <button *ngIf="user.cv" mat-button style="padding: 0">
                    <a href="{{ user.cv }}" target="_blank" style="text-decoration: none; padding: 0 1em;">View CV</a>
                </button>
                <button mat-button style="padding: 0">
                    <label for="cv-upload" class="cv-upload-btn">
                        <mat-icon>publish</mat-icon>
                        <span style="margin-left: 10px">Upload New CV</span>
                    </label>
                </button>
                <input
                    id="cv-upload"
                    type="file"
                    accept="application/pdf"
                    style="display: none"
                    (change)="uploadCv($event)">
            </ng-container>
    
            <ng-template #viewCV>
                <button *ngIf="user.membership === 'artist' && user.cv" mat-button style="padding: 0">
                    <a href="{{ user.cv }}" target="_blank" style="text-decoration: none; padding: 0 1em;">View CV</a>
                </button>
            </ng-template>

            <!-- Galleries -->
            <ng-container *ngIf="user.membership === 'artist'">
                <ng-container *ngIf="galleries$ | async as galleries">
                    <p *ngIf="galleries.length">Galleries</p>
                    <button
                        mat-button
                        *ngFor="let gallery of galleries"
                        [routerLink]="'/' + gallery.username"
                        style="display: block">
                        {{ gallery.username }}
                    </button>
                </ng-container>
            </ng-container>

        </div>

    </div>

    <div class="right-column">

        <!-- Username and Medium/Membership -->
        <div *ngIf="!editing" class="name-and-medium">
            <h1 style="font-weight: 200">{{ user.username }}</h1>
            <h1 *ngIf="user.membership === 'viewer'" style="font-weight: 200">{{ 'Member' }}</h1>
            <h1 *ngIf="user.membership === 'artist' && user.medium" style="font-weight: 200">{{ user.medium | titlecase }}</h1>
            <h1 *ngIf="user.membership === 'artist' && !user.medium" style="font-weight: 200">Artist</h1>
            <h1 *ngIf="user.membership === 'gallery'" style="font-weight: 200">{{ 'Gallery' }}</h1>
        </div>

        <app-username-form
            *ngIf="editing"
            (username)="onUpdateUsername($event)">
        </app-username-form>

        <button
            *ngIf="editing"
            mat-raised-button
            [disabled]="!newUsername"
            style="display: block; margin: -1.75em auto 2em;"
            (click)="saveNewUsername()">
            Save New Username {{ newUsername ? '(' + newUsername + ')' : '' }}
        </button>

        <!-- Bio/Description -->
        <ng-container *ngIf="editable && editing; else readonlyDescription">
            <mat-form-field hintLabel="Max 240 Characters" color="accent" style="width: 95%; margin: auto; display: block;">
                <mat-icon *ngIf="doneLoading && descriptionInput?.value !== user.description" color="accent" class="description-btn" (click)="descriptionInput.value = user.description; $event.stopPropagation();">clear</mat-icon>
                <mat-icon *ngIf="doneLoading && descriptionInput?.value !== user.description" color="primary" class="description-btn" (click)="updateDescription(descriptionInput.value); user.description = descriptionInput.value; $event.stopPropagation()">done</mat-icon>
                <textarea matInput #descriptionInput placeholder="{{ 'Tell us about yourself,\nyour art,\nand all that you have to offer!' }}" maxlength="240" rows="5" [value]="user.description"></textarea>
                <mat-hint align="end">{{ descriptionInput.value?.length || 0 }}/240</mat-hint>
            </mat-form-field>
        </ng-container>

        <ng-template #readonlyDescription>
            <div style="width: 95%; margin: 1em auto; display: block;">{{ user.description }}</div>
        </ng-template>

        <br><br>

        <!-- ProfileBackgroundUrl -->
        <div
            *ngIf="editable && editing"
            class="profile-background-pic"
            [ngStyle]="{'background': user.backgroundUrl ? 'url(' + user.backgroundUrl + ')' : 'linear-gradient(#80caa2, #add87d)'}"
            [ngClass]="user.backgroundUrl ? 'bg' : ''">
            <ng-container *ngIf="editable">
                <label for="background-pic-upload" class="upload-btn" style="border-radius: 10px; opacity: 0.95;">
                    <mat-icon>publish</mat-icon>
                    <span style="margin-left: 10px">{{ user.backgroundUrl ? 'Change Background Image' : 'Upload Background Image' }}</span>
                </label>
                <input
                    id="background-pic-upload"
                    type="file"
                    accept="image/*"
                    style="display: none"
                    (change)="uploadBackgroundPic($event)">
            </ng-container>
        </div>

        <img
            *ngIf="user.backgroundUrl"
            [src]="user.backgroundUrl"
            alt="Background Image"
            style="max-height: 500px; max-width: 95%; margin: 0 auto; display: block;">

        <br>

        <!-- Services -->
        <app-services
            *ngIf="user.membership === 'artist' && user.approvedSeller"
            [user]="user"
            [editable]="editable">
        </app-services>

        <br>

        <!-- Events -->
        <app-events
            *ngIf="user.membership === 'gallery'"
            [user]="user"
            [editable]="editable">
        </app-events>

        <br>

        <!-- Artists -->
        <app-artists
            *ngIf="user.membership === 'gallery'"
            [user]="user"
            [editable]="editable">
        </app-artists>

    </div>

</div>

<!-- Posts -->
<app-posts
    *ngIf="user.membership === 'artist'"
    [user]="user"
    [editable]="editable"
    [categories]="categories">
</app-posts>

</ng-container>
