
<div *ngIf="user$ | async as user" class="container">

    <p style="margin-left: 1em; margin-top: 1em;">Profile Picture</p>

    <div
        *ngIf="user.thumbnail | async as thumbnail"
        class="profile-pic"
        [ngStyle]="{'background': thumbnail?.length ? 'url(' + thumbnail + ')' : 'linear-gradient(#80caa2, #add87d)'}"
        [ngClass]="thumbnail ? 'bg' : ''">
        <label for="profile-pic-upload" class="upload-btn">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload</span>
        </label>
        <input
            id="profile-pic-upload"
            type="file"
            accept="image/*"
            style="display: none"
            (change)="uploadProfilePic(user.uid, $event)">
    </div>

    <br>

    <p *ngIf="user.backgroundThumbnail" style="margin-left: 1em">Background Picture</p>

    <div
        *ngIf="user.backgroundThumbnail | async as thumbnail; else uploadBackgroundPicture"
        class="profile-pic"
        [ngStyle]="{'background': thumbnail?.length ? 'url(' + thumbnail + ')' : 'linear-gradient(#80caa2, #add87d)'}"
        [ngClass]="thumbnail ? 'bg' : ''">
        <label for="background-pic-upload" class="upload-btn">
            <mat-icon>publish</mat-icon>
            <span style="margin-left: 10px">Upload</span>
        </label>
        <input
            id="background-pic-upload"
            type="file"
            accept="image/*"
            style="display: none"
            (change)="uploadBackgroundPic(user.uid, $event)">
    </div>

    <ng-template #uploadBackgroundPicture>
        <div style="max-width: 80%; margin: auto;">
            <label for="background-pic-upload" class="upload-btn">
                <mat-icon>publish</mat-icon>
                <span style="margin-left: 10px">Upload</span>
            </label>
            <input
                id="background-pic-upload"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="uploadBackgroundPic(user.uid, $event)">
        </div>
    </ng-template>

    <br>

    <div style="display: flex; justify-content: center; align-items: center; margin: 2em auto 0;">
        <span *ngIf="!editingUsername" style="margin-right: 3px">Username: </span>

        <button mat-button (click)="editingUsername = !editingUsername">
            <mat-icon *ngIf="!editingUsername">edit</mat-icon>
            <span style="margin-left: 10px">{{ editingUsername ? 'cancel' : user.username }}</span>
        </button>
    
        <button
            *ngIf="editingUsername"
            mat-raised-button
            [disabled]="!newUsername"
            (click)="saveNewUsername(user.uid)">
            Save New Username
        </button>
    </div>

    <app-username-form *ngIf="editingUsername" (username)="handleUsername($event)"></app-username-form>

    <br>

    <mat-form-field color="accent" style="margin-top: 1em">
        <mat-label>Medium</mat-label>
        <mat-select [value]="user.medium" (selectionChange)="updateField(user.uid, 'medium', $event.value)">
            <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field hintLabel="Max 240 Characters" color="accent">
        <mat-icon *ngIf="descriptionInput?.value !== user.bio" color="accent" class="description-btn" (click)="descriptionInput.value = user.bio || ''; $event.stopPropagation();">clear</mat-icon>
        <mat-icon *ngIf="descriptionInput?.value !== user.bio" color="primary" class="description-btn" (click)="updateField(user.uid, 'bio', descriptionInput.value); $event.stopPropagation();">done</mat-icon>
        <textarea matInput #descriptionInput placeholder="Bio" maxlength="240" rows="5" [value]="user.bio || ''"></textarea>
        <mat-hint align="end">{{ descriptionInput.value?.length || 0 }}/240</mat-hint>
    </mat-form-field>

    <br>

    <p style="margin-left: 1em; margin-top: 2em;">Social Links</p>

    <mat-form-field style="margin-top: 1em; margin-bottom: 1em;">
        <span matPrefix>@ &nbsp;</span>
        <input
            matInput
            #instagramInput
            [value]="user.instagramUrl || ''"
            type="text"
            placeholder="Instagram Handle"
            autocomplete="off"
            (input)="updateField(user.uid, 'instagramUrl', $event.target.value)">
        <mat-icon
            matSuffix
            (click)="$event.stopPropagation()">
            link
        </mat-icon>
        <mat-hint>*link is generated from name</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.facebookUrl || ''"
            type="text"
            placeholder="Facebook Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'facebookUrl', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.twitterUrl || ''"
            type="text"
            placeholder="Twitter Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'twitterUrl', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <mat-form-field style="margin-top: 1em">
        <input
            matInput
            #otherLinkInput
            [value]="user.otherLink || ''"
            type="text"
            placeholder="Other Link"
            autocomplete="off"
            (input)="updateField(user.uid, 'otherLink', $event.target.value)">
        <mat-icon matSuffix (click)="$event.stopPropagation()">link</mat-icon>
    </mat-form-field>

    <br>

    <!-- location -->
    <mat-form-field color="accent">
        <input
            matInput
            placeholder="Location"
            autocomplete="off">
    </mat-form-field>

    <br>

    <!-- CV -->
    <div *ngIf="user.cv" style="display: flex; justify-content: space-between; align-items: center; width: 666px; max-width: 85%; margin: 1em auto;">
        <button mat-button style="padding: 0">
            <a href="{{ user.cv }}" target="_blank" style="text-decoration: none; padding: 0 1em;">View CV</a>
        </button>
    
        <button mat-button (click)="deleteCV(user.uid)">
            Delete CV
        </button>
    </div>

    <br>

    <div *ngIf="!user.cv" style="margin-bottom: 2em">
        <label for="cv-upload" class="cv-upload-btn">
            <p style="position: absolute; top: 20px; font-size: 0.75em;">Add CV</p>
            <mat-icon style="color: white !important; transform: scale(3);">add</mat-icon>
        </label>
        <input
            id="cv-upload"
            type="file"
            accept="application/pdf"
            style="display: none"
            (change)="uploadCV(user.uid, $event)">
    </div>

    <br>

</div>
