.top-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}

@media only screen and (max-width: 974px) {
    .top-container {
        grid-template-columns: 100%;
    }
}