
<div class="top-container">

    <img src="assets/images/shop.webp" alt="Shop" style="width: 100%; height: auto;">

    <div style="text-align: center; background-color: #4bd1a0; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
        <h1 style="font-weight: 400">Plebeian Store</h1>

        <p style="font-weight: 100; font-size: 1.75em; max-width: 300px; word-spacing: 2px;">For the first week of every month the Plebeian Store will open its doors with new merchandise. Only open for one week at a time orders are limited and products will never repeat.</p>
    
        <p>*Please allow 3-4 weeks for delivery</p>
    </div>

</div>

<div style="max-width: 1000px; margin: 2em auto;">

    <h1 style="color: #4bd1a0; font-weight: 400;">Products</h1>

    <div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;">
        <mat-card *ngFor="let product of products" style="width: 250px; height: 400px; margin: 1em; padding: 0; cursor: pointer;">

            <img [src]="product.images[0]" alt="Product Image" style="height: 65%; width: 100%;">
        
            <mat-card-content style="padding: 20px">
                <p>{{ product.name }}</p>
                <p *ngIf="product.inStock">{{ product.price | currency }}</p>
                <p *ngIf="!product.inStock">OUT OF STOCK</p>
            </mat-card-content>
    
        </mat-card>
    </div>

</div>
