<div style="display: flex; justify-content: space-between; align-items: center; margin: 2em auto;">
    <h2 style="font-weight: 300; margin-left: 10px;">Artists</h2>

    <div *ngIf="editable">
        <button *ngIf="!editing" mat-raised-button (click)="editing = true">
            <mat-icon>edit</mat-icon>
            <span style="margin-left: 10px">Manage Artists</span>
        </button>

        <button *ngIf="editing" mat-raised-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            <span style="margin-left: 10px">Cancel</span>
        </button>
        <button *ngIf="editing" mat-raised-button (click)="saveArtists()">
            <mat-icon>done</mat-icon>
            <span style="margin-left: 10px">Save</span>
        </button>
    </div>
</div>


<mat-selection-list *ngIf="editing" #selectionList [(ngModel)]="selectedArtistIds" style="max-height: 444px">
    <mat-list-option *ngFor="let artist of artists$ | async" [value]="artist.uid">
        <img matListAvatar [src]="artist.profileUrl" alt="Profile Picture">
        <h3 matLine>{{ artist.username }}</h3>
    </mat-list-option>
</mat-selection-list>


<div *ngIf="!editing" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <p *ngIf="user && user.artists && !user.artists.length" style="margin: 1em">No Artists!</p>
    <mat-card *ngFor="let artist of user.artists; index as i" class="artist-card" [routerLink]="'/' + artist.username">
        <img mat-card-image [src]="artist.profileUrl" alt="Profile Picture">
        <mat-card-content>
            <p style="text-align: center">{{ artist.username }}</p>
        </mat-card-content>
    </mat-card>
</div>
