.service-form-card {
    margin: 0.5em auto 5em;
    width: 85%;
    max-width: 666px;
    box-shadow: inset 4px 5px 20px rgba(255, 253, 253, 0.25);
}

mat-form-field {
    width: 90%;
    margin: 2em auto;
    display: block;
}
