<mat-card class="service-form-card">
    <form *ngIf="serviceForm" [formGroup]="serviceForm" (submit)="submit()">
        <mat-form-field>
            <input
                matInput
                formControlName="title"
                placeholder="Title"
                maxlength="120"
                minlength="1"
                autocomplete="off">
        </mat-form-field>

        <mat-form-field>
            <textarea
                matInput
                formControlName="description"
                placeholder="Description"
                rows="4"
                autocomplete="off"></textarea>
        </mat-form-field>

        <button
            type="submit"
            mat-raised-button
            [disabled]="!serviceForm.valid"
            style="width: 80%; margin: 2em auto; display: block;">
            <mat-icon>done</mat-icon>
            <span style="margin-left: 10px">{{ editingService ? 'Update Service' : 'Offer Service' }}</span>
        </button>
    </form>
</mat-card>
