<div *ngIf="chat$ | async as chat" style="height: 97%; display: grid; grid-template-rows: 3fr 1fr; max-width: 777px; margin: auto;">
    <div class="messages-container" style="overflow: auto">
        <div
            *ngFor="let msg of chat.messages"
            [ngClass]="msg.userId === chat.recipientId ? 'left-chat' : 'right-chat'">
            {{ msg.content }}
        </div>
    </div>

    <mat-form-field style="width: 100%; color: black; background: #f5f5f5; padding: 0;">
        <textarea
            matInput
            #chatInput
            (keyup.enter)="sendMessage(chatInput.value, chat.id, chat.messages, chatInput)"
            matTextareaAutoSize="true"
            rows="2"
            maxlength="120">
        </textarea>
        <mat-icon
            *ngIf="chatInput?.value && chatInput.value.trim()"
            matSuffix
            color="primary"
            (click)="sendMessage(chatInput.value.trim(), chat.id, chat.messages, chatInput)">
            send
        </mat-icon>
        <mat-hint>{{ chatInput?.value || 0 }}/120</mat-hint>
    </mat-form-field>
</div>
