html, body {
    height: 100%;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

* {
    font-family: 'Lexend Deca', sans-serif;
}

*:focus {
    outline: none;
}

mat-icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

mwl-calendar-month-cell,
mwl-calendar-day-view-hour-segment,
mwl-calendar-week-view-hour-segment {
    touch-action: auto !important;
}

.pleb-card {
    margin: 2em auto;
    width: 88%;
    max-width: 666px;
    box-shadow: inset 10px 10px 20px rgba(255, 253, 253, 0.25) !important;
}

.mobile-only {
    display: block !important;
}

@media (min-width: 777px) {
    .mobile-only {
        display: none !important;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                            left bottom,
                            left top,
                            color-stop(0.2, #fdf5a2),
                            color-stop(1, #4bd1a0));
    }
}
