<div style="max-width: 1000px; margin: 0 auto; padding: 3em 2em 4em; background-color: #e7e7e7;">

    <div *ngIf="post$ | async as post">

        <div style="display: flex; justify-content: start; align-items: center;">
            <img [src]="post?.user?.profileUrl" alt="Profile Picture" style="height: 75px; margin-right: 1em; cursor: pointer;" [routerLink]="'/' + post.user.username">
            <p style="font-size: 1.75em; margin: 0 1em 0 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post?.user?.username }}</p>
            <p>{{ post.createdTimestamp.toDate() | date }}</p>
        </div>

        <mat-card>

            <h1 style="margin: 0.5em 0 1em">{{ post.title }}</h1>

            <img *ngIf="post.thumbnail | async as thumbnail" [src]="thumbnail" class="thumbnail-img" alt="Post Image">

        </mat-card>

        <br>

        <app-address-form></app-address-form>

        <mat-card style="width: 400px; max-width: 90%; margin: 1em auto;">
            <p>Art Price: {{ post.price | currency }}</p>

            <p>Stripe Processing Fee: {{ (post.price / 0.9721) - post.price | currency}}</p>

            <p>Total: {{ post.price / 0.9721 | currency }}</p>

            <img style="display: block; margin: 1em auto; width: 100%;" src="assets/images/powered-by-stripe.png" alt="Powered By Stripe">
        
            <form *ngIf="!loading" action="/charge" method="post" (submit)="handleForm($event)" style="text-align: center; width: 500px; max-width: 95%; margin: 2em auto;">
                <mat-card>
                    <div #cardForm></div>
                </mat-card>
            </form>

            <mat-spinner *ngIf="loading" style="margin: auto"></mat-spinner>

            <br>

            <button mat-raised-button color="primary" style="color: white">Purchase</button>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <p>The Seller will be notified when your order is placed!</p>

                <p>Check your orders page <a>here</a> to see when it is finished/shipped!</p>
            </mat-card-content>
        </mat-card>

    </div>



</div>
