.stage-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em auto 1em;
    max-width: 666px;
    width: 90%;
}

.stage-container span {
    opacity: 0.66;
    color: white;
}

.active-stage {
    opacity: 1 !important;
}
