
<!-- <div class="video-container"></div> -->


<div class="welcome-section">
    <img src="assets/images/about-top.png" alt="Top Image" style="width: 100%">
</div>


<div class="steps-section">
    <div class="process-graphic">
        <span>Create</span>
        <img src="assets/images/create.svg" class="process-img" />
        <span style="font-size: 12px">Make your art!</span>
    </div>

    <!-- <mat-icon class="process-arrow">arrow_right_alt</mat-icon> -->

    <div class="process-graphic">
        <span>Post</span>
        <img src="assets/images/upload.svg" class="process-img" />
        <span style="font-size: 12px">Snap a pic, post your art!</span>
    </div>

    <!-- <mat-icon class="process-arrow">arrow_right_alt</mat-icon> -->

    <div class="process-graphic">
        <span>Sell</span>
        <img src="assets/images/sell.svg" class="process-img" />
        <span style="font-size: 12px">Sell your art!</span>
    </div>
</div>


<div class="meats-section">
    <img src="assets/images/about-bottom.png" alt="Top Image" style="width: 100%">
</div>


<div class="team-section"></div>


