.video-container {
    height: 50%;
}

.welcome-section {
}

.process-graphic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.process-img {
    width: 75%
}

.steps-section {
    padding: 4em 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
    -moz-box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
    box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
}

.meats-section {
}

.team-section {
    background: white;
    height: 300px;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
    -moz-box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
    box-shadow: 10px 18px 55px 10px rgba(0,0,0,0.95);
}

