<div class="exhibitions-list">

    <mat-card *ngFor="let x of exhibitions" (click)="select(x)" [ngClass]="selected === x ? 'selected' : ''">
        <mat-card-header>{{ x.date }}</mat-card-header>

        <img mat-card-image [src]="x.cover" alt="Cover" draggable="false">

        <mat-card-actions>
            <button mat-button color="accent" style="width: 100%">
                <a download href="{{x.download}}" style="text-decoration: none; color: #ff4081;">Download</a>
            </button>
        </mat-card-actions>
    </mat-card>

</div>
