

<mat-tab-group mat-stretch-tabs style="width: 90%; max-width: 666px; margin: auto;">

    <mat-tab label="Bought">
        <div style="margin-top: 2em">

            <div *ngFor="let order of orders | async" (click)="selectOrder(order)" class="order-list-item">
                <img [src]="order.image" class="order-image" alt="Order Image">

                <div class="order-info">
                    <span>{{ order.title }}</span>
                    <span style="margin-top: 5px">{{ order.timestamp }}</span>
                </div>

                <span class="order-status">{{ order.status.split('-').join(' ') | uppercase }}</span>
            </div>

        </div>
    </mat-tab>
 
    <mat-tab label="Sold">
        <div style="margin-top: 2em">

            <div *ngFor="let order of orders | async" (click)="selectOrder(order)" class="order-list-item">
                <img [src]="order.image" class="order-image" alt="Order Image">

                <div class="order-info">
                    <span>{{ order.title }}</span>
                    <span style="margin-top: 5px">{{ order.timestamp }}</span>
                </div>

                <span class="order-status">{{ order.status.split('-').join(' ') | uppercase }}</span>
            </div>

        </div>
    </mat-tab>

</mat-tab-group>
