

<div class="notification-container">


    <ng-container *ngIf="newNotifications$ | async as notifications">
        <div *ngIf="!notifications?.length">
            <p style="text-align: center">Nothing new...</p>
        </div>

        <div
            *ngFor="let notification of notifications"
            class="notification"
            (click)="viewNotification(notification)"
            [routerLink]="'/post/' + notification.postId">

            <div *ngIf="notification.type === 'like'" style="display: flex; align-items: center;">
                <mat-icon class="heart-icon">favorite</mat-icon>

                <p><span style="font-weight: 600; font-size: 1em; margin: 0 0 0 1.5em;">{{ notification.username }} </span> liked your post</p>
            </div>


            <div *ngIf="notification.type === 'comment'" style="display: flex; align-items: center;">
                <mat-icon class="heart-icon">mode_comment</mat-icon>

                <p><span style="font-weight: 600; font-size: 1em; margin: 0 0 0 1.5em;">New Comment from  </span> {{ notification.username }}</p>
            </div>

        </div>
    </ng-container>


    <button *ngIf="!newCount && !loadedOld" mat-button (click)="loadOlder()" style="display: block; margin: 2em auto; color: #8aaaf4;">Load older notificiations</button>


</div>

