
<div *ngIf="primePost$ | async as post" style="max-width: 1000px; margin: 0 auto; padding: 3em 2em 4em; background-color: #e7e7e7;">

    <div style="display: flex; justify-content: start; align-items: center;">
        <img [src]="post.user.thumbnail | async" alt="Profile Picture" style="height: 75px;cursor: pointer;" [routerLink]="'/' + post.user.username">
        <p style="font-size: 1.75em; margin: 0 1em 0; cursor: pointer;" [routerLink]="'/' + post.user.username">{{ post.user?.username }}</p>
        <p>{{ post.createdTimestamp.toDate() | date }}</p>
    </div>
    
    <mat-card style="margin: 2em auto; min-height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
        <h1 style="margin: 0.5em 0 1em">{{ post.title }}</h1>

        <div>
            <hr>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <button mat-icon-button (click)="facebookShare()">
                        <mat-icon svgIcon="facebook"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="twitterShare()">
                        <mat-icon svgIcon="twitter"></mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>link</mat-icon>
                        <span style="margin-left: 5px">Copy Link</span>
                    </button>
                </div>
                <div>
                    <button mat-icon-button (click)="likePost()" color="warn">
                        <mat-icon *ngIf="!alreadyLiked" color="warn">favorite_border</mat-icon>
                        <mat-icon *ngIf="alreadyLiked" color="warn">favorite</mat-icon>
                    </button>
                    <span *ngIf="likeCount">{{ likeCount }} {{ likeCount == 1 ? 'like' : 'likes' }}</span>
                </div>
            </div>
            <hr>
        </div>
    </mat-card>

    <app-comments [primePostId]="postId" [postUserId]="postUserId"></app-comments>

    <!-- <button mat-raised-button (click)="deletePost()">Delete</button> -->
    
</div>