.order-info-box {
    width: 95%;
    background-color: #424242;
    box-shadow: inset 4px 5px 20px rgba(255, 253, 253, 0.25);
    border-radius: 10px;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
}

.heading {
    display: flex;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    min-width: 25%;
}

.left-side {
    padding-right: 10px;
    border-right: 3px solid white;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.sub-total {
    width: 100%;
    margin-bottom: 1em;
}

.sub-total-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    font-size: 0.9em;
}

.sub-total-heading {
    font-size: 1em !important;
    color: #4caf50;
}
