.container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    box-shadow: inset 18px 60px 50px rgba(45, 44, 44, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

button {
    color: #292929;
}

.nav-link {
    display: flex;
    padding-left: 2.5em;
}

.nav-link-icon {
    margin-right: 1em;
}

.profile-pic {
    max-height: 150px;
    max-width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

.username-text {
    color: black;
    border-bottom: 2px solid #4caf50;
    padding: 0 10px 5px;
    font-family: cursive, 'Lexend Deca', sans-serif;
    font-weight: 300;
}

.install-button {
    display: block;
    width: 90%;
    margin: 1em auto;
}
