<div *ngIf="user; else noUserSidenav" class="container">

    <button mat-icon-button (click)="closeSidenav.emit()" style="margin-left: auto; color: #292929;">
        <mat-icon>close</mat-icon>
    </button>

    <img
        [src]="user.thumbnail | async"
        alt="Profile Pic"
        class="profile-pic"
        (click)="gotoUserProfile.emit()">

    <div style="display: flex; justify-content: space-between; align-items: center; margin: 0.5em 1em 2em;">
        <span style="color: black" (click)="gotoUserProfile.emit()">{{ user.username }}</span>

        <div>
            <mat-icon color="primary" (click)="gotoUserProfile.emit()" style="margin-right: 0.4em">edit</mat-icon>
            <mat-icon color="primary" (click)="gotoUserProfile.emit()">visibility</mat-icon>
        </div>
    </div>

    <button mat-button class="nav-link" routerLink="/notifications" (click)="closeSidenav.emit()">
        <mat-icon
            *ngIf="newCount"
            [matBadge]="newCount"
            matBadgeColor="accent"
            class="nav-link-icon">
            notifications_none
        </mat-icon>
        <mat-icon *ngIf="!newCount" class="nav-link-icon">notifications_none</mat-icon>
        <span>Notifications</span>
    </button>

    <button mat-button routerLink="/orders" (click)="closeSidenav.emit()" class="nav-link">
        <mat-icon class="nav-link-icon">storefront</mat-icon>
        <span>Orders</span>
    </button>

    <button mat-button class="nav-link" routerLink="/seller" (click)="closeSidenav.emit()">
        <mat-icon class="nav-link-icon">local_offer</mat-icon>
        <span>Seller Info</span>
    </button>

    <button mat-button class="nav-link" routerLink="/about" (click)="closeSidenav.emit()">
        <mat-icon class="nav-link-icon">home</mat-icon>
        <span>About</span>
    </button>

    <button mat-button routerLink="/faq" class="nav-link" (click)="closeSidenav.emit()">
        <mat-icon class="nav-link-icon">help_outline</mat-icon>
        <span>F.A.Q.</span>
    </button>

    <hr style="width: 100%; border-color: #f54081;">

    <button mat-button class="nav-link">
        <mat-icon class="nav-link-icon">contact_mail</mat-icon>
        <span>Contact</span>
    </button>

    <button mat-button routerLink="/terms" (click)="closeSidenav.emit()" class="nav-link">
        <mat-icon class="nav-link-icon">list_alt</mat-icon>
        <span>Terms of Service</span>
    </button>

    <button mat-button class="nav-link" (click)="signOut.emit()">
        <mat-icon class="nav-link-icon">sentiment_very_dissatisfied</mat-icon>
        <span>Logout</span>
    </button>

</div>







<ng-template #noUserSidenav>
    <div class="container">

        <button mat-icon-button (click)="closeSidenav.emit()" style="margin-left: auto; color: #292929;">
            <mat-icon>close</mat-icon>
        </button>

        <button mat-button class="nav-link" (click)="signIn.emit()" routerLink="/login">
            <mat-icon class="nav-link-icon">sentiment_very_satisfied</mat-icon>
            <span>Sign In</span>
        </button>
    
        <button mat-button class="nav-link" routerLink="/about" (click)="closeSidenav.emit()">
            <mat-icon class="nav-link-icon">home</mat-icon>
            <span>About</span>
        </button>
    
        <button mat-button routerLink="/faq" class="nav-link" (click)="closeSidenav.emit()">
            <mat-icon class="nav-link-icon">help_outline</mat-icon>
            <span>F.A.Q.</span>
        </button>
    
        <hr style="width: 100%; border-color: #f54081;">
    
        <button mat-button class="nav-link">
            <mat-icon class="nav-link-icon">contact_mail</mat-icon>
            <span>Contact</span>
        </button>
    
        <button mat-button routerLink="/terms" (click)="closeSidenav.emit()" class="nav-link">
            <mat-icon class="nav-link-icon">list_alt</mat-icon>
            <span>Terms of Service</span>
        </button>

        <button mat-button class="nav-link" (click)="signIn.emit()" routerLink="/login">
            <mat-icon class="nav-link-icon">sentiment_very_satisfied</mat-icon>
            <span>Sign In!!!</span>
        </button>
    
    </div>
</ng-template>
