
<div class="header">
    <p class="sub-title">Frequently Asked Questions</p>
</div>


<mat-accordion>

    <!-- What is Plebeian? -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
              What is Plebeian?
            </mat-panel-title>
        </mat-expansion-panel-header>
      
        <hr class="top-border">
        <p>Plebeian is a new arts media company and platform built on promotion for artists by artists. Our platform was built in the hopes of giving every artist the opportunity to start, grow, and promote their business.</p>
        <p>We know how challenging the professional art world is and we know that artists are often getting robbed of their hard work. So we set out to build the most efficient business tools in the market and we think that we’ve done that! Artists can sell their work, sell their creative services (commissions, machine work, etc.), and promote their events in one easy to use place. Don’t think of this as a new social media platform, think of it as a business tool that all other social platforms can lead to.</p>
        <p>Gone are the days of trying to manage a business through a website, a group of social platforms, and emails all at once. Gone are the days of higher institutions robbing you of percentages or the rights to your work. Plebeian aims to make the business side of your art easy so that you can just make your art.</p>
    </mat-expansion-panel>


    <!-- How is it different than etsy, wix, squarespace -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How is Plebeian different from Etsy, BigCartel, or other sales services?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>Other platforms may allow you to sell but you’re always selling within their framework. It’s not your shop, or your business, it’s your page on their site. You can’t really personalize it, you can’t promote yourself, you’re just a list of items on their site.</p>
        <p>Not to mention all of these sites take unnecessary percentages of all of your sales for no other reason than they can, some of them even take the rights to your work and don’t tell you. But with Plebeian, you can promote your work, your events, and yourself in general.</p>
        <p>Don’t think of this as your page on Plebeian, think of it as your page, your business! We don’t take any of the rights to your work, we take 0 percent of your sales… that’s right ZERO percent, and we allow you to brand yourself however you’d like. Other platforms having been taking advantage of artists for too long, change that with Plebeian.</p>
    </mat-expansion-panel>


    <!-- How does Plebeian make money? -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How does Plebeian handle costs?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>We’ve calculated out all secondary costs that might hinder the artist and built them in as small additional charges that the buyer pays. If you put something for sale at $20, you get $20. All additional charges are paid by the buyer and they probably won’t even notice them. There’s no reason why extremely limited sales platforms should be robbing artists the way they do, so we fixed that!</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                Are sales really commission free?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>YES! The small Stripe charge and $1 that we take is calculated in as an additional charge for the buyer, so they cover that. If you put $20 for a piece, you get $20. Easy as that.</p>
    </mat-expansion-panel>



    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How is the content linked?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>Our content is the graduated form of the platform. We are constantly scanning the platform to find emerging artists who we can feature or make content with. The content is a secondary platform where we can promote, engage, and interact with our audience in a variety of different ways.</p>
    </mat-expansion-panel>




    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                What are services?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>Services are all of the other artistic offerings an artist can give! Artists can offer commissions or custom art pieces, logo designs, branding, specialized tool services, any services or skill that you can think of. Monetize your crafts and skills even further with Plebeian services!</p>
    </mat-expansion-panel>



    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                Who has the rights to my work?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>YOU DO! All of your work is yours and only yours. We don’t own it, we don’t take it, and we can’t use it for any of our own advertising/promotion without your permission. There’s no reason why platforms should take the rights to people’s work, so we don’t.</p>
    </mat-expansion-panel>
    


    <!-- How to contact the team -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How can I contact the team?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <hr class="top-border">
        <p>Contact us directly at <a href="mailto:plebeiandeli@gmail.com" style="color: #f54081">PlebeianDeli@gmail.com</a></p>
        <p>
            Or leave a message from the
            <button mat-button routerLink="/contact" color="accent">Contact Form</button>
        </p>
    </mat-expansion-panel>


</mat-accordion>


<br><br><br><br>


<app-footer></app-footer>
