
<div class="header">
    <p class="sub-title">Frequently Asked Questions</p>
</div>


<mat-accordion>

    <!-- What exactly is Plebeian? -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
              What exactly is Plebeian?
            </mat-panel-title>
        </mat-expansion-panel-header>
      
        <hr class="top-border">
        <p>Personal Website, branding, networking</p>
        <p>Marketplace to buy and sell work and services</p>
        <p>Insightful blog posts about art things</p>
    </mat-expansion-panel>


    <!-- How is it different than etsy, wix, squarespace -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How is Plebeian different than Etsy, SquareSpace or Wix?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>Fastest & easiest possible setup</p>
        <p>Commission Free with an Artist account</p>
        <p>Featured Posts, Curated Exhibitions, a Presence in the Community</p>
    </mat-expansion-panel>


    <!-- How does Plebeian make money? -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How does Plebeian handle the server costs and make money?
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <hr class="top-border">
        <p>Images stored in the Cloud with Optimized Thumbnails and a Real-Time Database</p>
        <p>We only pay for the computing power that we use. This is just a tiny amount that gets offest by the artist subscriptions.</p>
    </mat-expansion-panel>


    <!-- How to contact the team -->
    <mat-expansion-panel>
        <mat-expansion-panel-header style="padding: 2em">
            <mat-panel-title>
                How can I contact the team?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <hr class="top-border">
        <div class="contact-links">
            <button mat-button>Social Media</button>
            <button mat-button>Email</button>
            <button mat-button routerLink="/contact">Contact Form</button>
        </div>
    </mat-expansion-panel>


</mat-accordion>


<br><br><br><br>


<app-footer></app-footer>
