<div class="container">
    <button mat-icon-button>
        <mat-icon>face</mat-icon>
    </button>

    <mat-form-field class="search-box" floatLabel="never">
        <input matInput placeholder="" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-icon-button [matMenuTriggerFor]="sortMenu" class="pointer-cursor">
        <mat-icon>tune</mat-icon>
    </button>
</div>

<mat-menu #sortMenu="matMenu">
    <button mat-menu-item [disabled]="sort === 'recent'" (click)="changeSort('recent')" class="pointer-cursor">
        <mat-icon [ngClass]="{ 'active': sort === 'recent' }">av_timer</mat-icon>
        <span [ngClass]="{ 'active': sort === 'recent' }">Recent</span>
    </button>
    <button mat-menu-item [disabled]="sort === 'popular'" (click)="changeSort('popular')" class="pointer-cursor">
        <mat-icon [ngClass]="{ 'active': sort === 'popular' }">favorite_border</mat-icon>
        <span [ngClass]="{ 'active': sort === 'popular' }">Popular</span>
    </button>
    <button mat-menu-item [disabled]="sort === 'price'" (click)="changeSort('price')" class="pointer-cursor">
        <mat-icon [ngClass]="{ 'active': sort === 'price' }">attach_money</mat-icon>
        <span [ngClass]="{ 'active': sort === 'price' }">Price</span>
    </button>
</mat-menu>
